<style>
 .tooltip-inner {
     text-align: left;
 }
 .panel-heading-list {
     padding: 2px;
 }
 .panel-body-dashboard {
     padding: 2px;
 }

 .group-row {
     border: 1px solid grey;
 }
 .group-row,
 .group-row .panel {
     //background-color: #ebf2fa !important;
     margin-bottom: -1px;
 }
 .structset {
     border: 1px solid grey;
     margin-bottom: 5px;
 }
 .struct-row,
 .struct-row .panel {
     //background-color: #ebf2fa !important;
 }
 .resgraph-size {
     max-height:300px;
     height:300px;
 }
 .resgraph-modal-size {
     max-height:600px;
     height:600px;
 }
 svg {
     display: block;
 }
 .scrollable-submenu {
     height: auto;
     max-height: 250px;
     overflow-x: hidden;
 }
 .scrollable-menubroken {
     height: auto;
     max-height: 250px;
     overflow-y: scroll;
 }
 .icon-info-right {
     position: absolute;
     right: 10px;
     top: 3px;
     padding: 0px;
     pointer: pointer;
 }
 .right-menu {
     top: 0;
     left: unset;
 }
 .open > .right-menu {
     display: inline-block;
 }
 .right-caret {
     border-bottom: 4px solid transparent;
     border-top: 4px solid transparent;
     border-left: 4px solid;
     display: inline-block;
     margin-left: 2px;
     margin-top: 5px;
     margin-right: -10px;
     height: 0;
     width: 0;
     float: right;
 }
 .table-condensed > thead > tr > th,
 .table-condensed > tbody > tr > th,
 .table-condensed > tfoot > tr > th,
 .table-condensed > thead > tr > td,
 .table-condensed > tbody > tr > td,
 .table-condensed > tfoot > tr > td {
     padding-top: 2px;
     padding-bottom: 2px;
 }
 .alert-sm {
     padding: 5px;
     margin-bottom: 3px;
     border: 1px solid transparent;
     border-radius: 3px;
 } 
</style>  
<div>
  <div id='about_div'
       class='col-lg-8  col-lg-offset-2
	      col-md-8  col-md-offset-2
	      col-sm-10 col-sm-offset-1
	      col-xs-12 col-xs-offset-0'>
  </div>
  <div id='stepsContainer'>
    <h3>Select a Profile</h3>
    <div class='col-lg-8  col-lg-offset-2
		col-md-8  col-md-offset-2
		col-sm-10  col-sm-offset-1
		col-xs-12 col-xs-offset-0'>
      <form id='step0-form' role='form' class="step-forms"
	    enctype='multipart/form-data'
	    method='post' action='instantiate.php'>
	<div>
	  <div>
	    <% if (1) { %>
	      <div class='form-group row' style='margin-bottom: 0px;'>
		<div class='col-md-12'>
		  <div class='panel panel-default'>
		    <div class='panel-heading'>
		      <span class='panel-title'>
			<strong>Selected Profile:</strong> 
			<span id='selected_profile_text'></span>
		      </span>
		    </div>
		    <div class='panel-body'>
		      <div id='selected_profile_description'></div>
		    </div>
		    <div class='panel-footer'>
		      <button id="profile-copy-button"
			      class='btn btn-default btn-sm pull-left hidden'
			      style='margin-right: 10px;'
			      type='button'>Copy Profile</button>
		      <a href="" class='btn btn-default btn-sm pull-left'
			 type='button' id='profile_show_button'>
			Show Profile
		      </a>
		      <!-- Profile selection box -->
		      <% if (showpicker) { %>
			<button id='change-profile'
				class='btn btn-primary btn-sm pull-right' 
				type='button' name='profile_button'>
			  Change Profile
			</button>
		      <% } %>
		      <div class='clearfix'></div>
		    </div>
		  </div>
		</div>
	      </div>
	    <% } %>
	  </div>
	</div>
      </form>
    </div>
    <!-- Place holder for parameterized profile step.  -->
    <h3>Parameterize</h3>
    <div class='col-lg-8  col-lg-offset-2
		col-md-8  col-md-offset-2
		col-sm-10 col-sm-offset-1
		col-xs-12 col-xs-offset-0'>
      <div id="pp-container"></div>
    </div>

    <!-- Last step -->
    <h3>Finalize</h3>
    <div class='col-lg-8  col-lg-offset-2
		col-md-8  col-md-offset-2
		col-sm-10 col-sm-offset-1
		col-xs-12 col-xs-offset-0'>
      <!-- Each step needs its own form cause we might put another
	   form into step2 for a parameterized profile, and cannot nest
	   forms -->
      <form id='step2-form' role='form' class="step-forms"
	    method='post' action='instantiate.php'>
	<!-- JS code sets this after selection change. -->
	<input id='selected_profile'
	       type='hidden'
	       name='profile'>
	<!-- JS code sets this if all the nodes are bound. -->
	<input id='fully_bound'
	       type='hidden'
	       name='fully_bound' value="0">
	<div id='finalize_container'
	     class='col-lg-8 col-md-8 col-sm-8 col-xs-12'>
	  <div class='panel panel-default' style="margin-bottom: 5px">
	    <div class='panel-body'
		 style="padding-top: 5px; padding-bottom: 5px;">
	      <span class="pull-left">
		<span style="font-weight: bolder;">Profile:</span>
		<span id='finalize_profile_name'></span>
	      </span>
	      <span class="pull-right">
		<button class='btn btn-info btn-xs'
			type='button'
			id="show_xml_modal_button">
		  Source</button>
	      </span>
	    </div>
	  </div>
	  <% { %>
	    <div class='panel panel-default'>
	      <div class='panel-heading'>
		<span style='text-align: center;'>
		  Please review the selections below and then click Next.</span>
	      </div>
	      <div class='panel-body'>
		<!-- Show non-specific errors here. -->
		<div style='margin-bottom: 10px;'>
		  <font color=red>
		    <center><span id="general_error"></span></center>
		  </font>
		</div>
		<div id='finalize_options'>
		  <!-- Optional experiment name -->
		  <div id='name_selector'
		       class='form-horizontal experiment_option'>               
		    <div class='form-group format-me'>
		      <label class='col-sm-4 control-label'
			     style='text-align: right;'>Name:</label>
		      <div class='col-sm-6'
			   data-toggle='popover'
			   data-delay='{hide:1500, show:500}'
			   data-html='true'
			   data-content='Provide a unique name to
			   identify your new experiment. If you are in 
			   the habit of starting more than one
			   experiment at a time, this is really handy
			   when trying to tell one experiment from
			   another, or when referring to
			   an experiment when asking for help.'>
			<input id='experiment_name'
			       placeholder='Optional'
			       class='form-control'
			       data-key='name'
			       name='name'
			       value='<%= formfields.name %>'>
			<label class='control-label control-error hidden'
			       for='name'></label>
		      </div>
		    </div>
		  </div>
		  <!-- The JS code fills this in -->
		  <div id='project_selector'></div>
		  <!-- This is updated when project changes -->
		  <div id='group_selector'></div>
		  <% if (clusterselect) { %>
		    <div id='aggregate_selector'>
		      <!-- The JS code fills this in -->
		      <div id='cluster_selector' class='hidden'></div>
		      <div>
			<div class="col-sm-offset-4 col-sm-6">
			  <center class='site-wait hidden'>
			    <img src='images/spinner.gif' />
			  </center>
			</div>
		      </div>
		      <div id="reservation-warnings"
			   class="col-sm-offset-2 col-sm-10 hidden"></div>
		    </div>
		  <% } else { %>
		    <div id="nocluster-selector"></div>
		  <% } %>
	          <div class='col-sm-6 col-sm-offset-4
			      alert alert-warning hidden'
		       id='deprecated-images'
		       style='margin-top: 5px; margin-bottom: 5px'>
		  </div>
		  <% if (1) { %>
		    <div style="clear: both">
		    <h5>
		      <a href="#advanced_options_dropdown" data-toggle="collapse">
			<span class="glyphicon glyphicon-plus-sign pull-left" 
			      style="font-weight: bold;"></span>
			<span style="font-weight: bold; margin-left: 12px">Advanced Options</span>
		      </a>
		    </h5>
		    </div>
		    <div id="advanced_options_dropdown"
			 class="panel-collapse collapse">
		      <% if (0) { %>
		      <div class='form-horizontal experiment_option'>
			<div class='form-group format-me'>
			  <label class='col-sm-4 control-label'
				 style='text-align: right;'>Experiment Duration:</label>
			  <div class="col-sm-6"
			       data-toggle='popover'
			       data-delay='{hide:1500, show:500}'
			       data-html='true'
			       data-content="Sets the intial amount of time that the 
			       experiment will run. Limit: <%- maxduration %> hours. If more time is needed, the duration can be extended after the
			       experiment has been created.">
			    <input id='experiment_duration'
				   class='form-control'
				   data-key='duration'
				   name='duration'
				   value='<%- maxduration %>'>
			    <label style='position: absolute;
					  top: 6px;
					  right: 22px;
					  font-weight: normal;
					  color: #aaa'>
			      hours
			    </label>
			    <label class='control-label control-error hidden'
				   for='duration'></label>
			  </div>
			</div>
		      </div>
		      <% } %>
		      <div class='form-horizontal experiment_option'>
			<div class='form-group format-me'>
			  <div class="row">
			    <label class='col-sm-4 control-label'
				   style='text-align: right;'>Ignore Failures:</label>
			    <div class='col-sm-2'>
			      <input id='failure_okay' type="checkbox"
				     value="checked"
				     class=''
				     data-key='failure_okay'
				     name='failure_okay'
				     <%= formfields.failure_okay %>>
			    </div>
			  </div>
			  <label class='control-label control-error hidden'
				 for='failure_okay'></label>
			</div>
		      </div>
		    </div>
		  <% } %>
		</div>
		<div id="cluster_status_link"><center>
		  <a target="_blank" href="resinfo.php">
		    Check Resource Availability</a></center>
		</div>
	      </div>
	    </div>
	  <% } %>
	</div>
	<div id='inline_container' style="min-height: 150px;"
	     class='col-lg-4 col-md-4 col-sm-4 col-xs-12'>
	  <a id='inline_overlay' href='#'>
	    <span class='glyphicon glyphicon-fullscreen'
		  aria-hidden='true'></span>
	  </a> 
	  <div id='inline_jacks' style="min-height: 150px;"></div>
	</div>
	<!-- This is for a PP rspec or a repo-based profile -->
	<textarea name='rspec'
		  id='rspec_textarea'
		  class='form-control hidden'
		  type='textarea'></textarea>
	<textarea name='script'
		  id='script_textarea'
		  class='form-control hidden'
		  type='textarea'></textarea>
	<!-- JS code sets these for repo based profiles -->
	<input id='reporef' type='hidden' name='reporef'>
	<input id='repohash' type='hidden' name='repohash'>
	<input id='paramdefs' type='hidden' name='paramdefs'>
      </form>
    </div>
    <!-- Last step -->
    <h3>Schedule</h3>
    <div>
      <div id="step3-div">
	<form id='step3-form' role='form' class="step-forms">
	  <input id="start" name="start" type="hidden">
	  <input id="end" name="end" type="hidden">
	  <div class='col-lg-8  col-lg-offset-2
 		      col-md-8  col-md-offset-2
		      col-sm-10 col-sm-offset-1
		      col-xs-12 col-xs-offset-0'>
	    <div class='panel panel-default'>
	      <div class='panel-heading schedule-experiment'>
		Please select when you would like to start this experiment
		and then click Finish.
	      </div>
	      <div class='panel-body'>
		<div class="reserve-resources" style="font-size: 16px;">
		  <p>
		    <span class="radio-warning hidden">
		      You have requested radio spectrum and/or use of
		      specialized Powder resources in your profile. If
		      you do not have a reservation for it, you may want
		      to create one; spectrum and other specialized
		      equipment are scarce resources and may not be
		      immediately available.
		    </span>
		    <span class="noradio-warning hidden">
		      Powder resources are typically in high demand, if you
		      do not have a reservation, you may want to create one
		      so that you have access to the resources you need for
		      the duration of your experiment.
		    </span>
		    If you do make a
		    reservation, you will want to be sure to schedule
		    the start of this experiment to coincide with the
		    start of your reservation(s). Please click on <em>Create New
		    Resource Reservation</em> to create a new
		    reservation.
		  </p>
		  <p>
		    You may also set the termination time of your
		    experiment to coincide with the end of your
		    reservation(s), so that you do not have to remember
		    to extend your experiment.
		  </p>
		</div>
		<center>
		  <div style="margin-top: 0px;">
		    Start on date/time (<b>optional</b>)
		    <a href='#' class='btn btn-xs' id="start-hour-help"
		       style="padding-left: 0px; margin-bottom: 4px;"
		       data-toggle='popover'
		       data-html='true'
		       data-delay='{"hide":1000}'
		       data-content='Times are in your local timezone.
			     Start day/time is <b>optional</b>;
			     your experiment
			     will start immediately if you leave this empty.
			     A typical use for this option, is to schedule 
			     your experiment to start shortly after a resource
			     reservation starts. See the <a target=_blank
			     href=<%- window.MANUAL %>/reservations.html>
			     manual</a> for more info on reservations.'>
			<span class='glyphicon glyphicon-question-sign'></span>
		      </a>
		  </div>
		</center>
		<div class="row"
		     style="margin-top: 10px;">
		  <div class="col-xs-4 col-xs-offset-2 format-me">
		    <input name="start_day"
			   style='position: relative;'
			   id='start_day'
			   value="<%- formfields.start %>"
			   class="form-control"
			   placeholder="MM/DD/YYYY"
			   data-key="start_day"		 
			   type="text">
		    <label class='control-label control-error hidden'
			   for='start_day'></label>
		  </div>
		  <div class="col-xs-4 format-me">
		    <select name="start_hour"
			    id='start_hour'
			    value=""
			    class="form-control"
			    data-key="start_hour"
			    type="text">
		      <option value="">Time</option>
		      <option value="0">12:00 AM</option>
		      <option value="1">1:00 AM</option>
		      <option value="2">2:00 AM</option>
		      <option value="3">3:00 AM</option>
		      <option value="4">4:00 AM</option>
		      <option value="5">5:00 AM</option>
		      <option value="6">6:00 AM</option>
		      <option value="7">7:00 AM</option>
		      <option value="8">8:00 AM</option>
		      <option value="9">9:00 AM</option>
		      <option value="10">10:00 AM</option>
		      <option value="11">11:00 AM</option>
		      <option value="12">12:00 PM</option>
		      <option value="13">1:00 PM</option>
		      <option value="14">2:00 PM</option>
		      <option value="15">3:00 PM</option>
		      <option value="16">4:00 PM</option>
		      <option value="17">5:00 PM</option>
		      <option value="18">6:00 PM</option>
		      <option value="19">7:00 PM</option>
		      <option value="20">8:00 PM</option>
		      <option value="21">9:00 PM</option>
		      <option value="22">10:00 PM</option>
		      <option value="23">11:00 PM</option>
		    </select>
		    <label class='control-label control-error hidden'
			   for='start_hour'></label>
		  </div>
		</div>
		<div class="schedule-experiment">
		  <center style="margin-top: 25px;">
		    Experiment Duration
		  </center>
		  <div class="row" style="margin-top: 10px;">
		    <div class="col-xs-3 format-me" style="margin-left: 38%">
		      <input id='experiment_duration'
			     class='form-control'
			     data-key='duration'
			     name='duration'
			     value='<%- maxduration %>'>
		      <label style='position: absolute;
				    top: 6px;
				    right: 22px;
				    font-weight: normal;
				    color: #aaa'>hours</label>
		      <label class='control-label control-error hidden'
			     for='duration'></label>
		    </div>
		    <div class="col-xs-1" style="padding-left: 0px;">
		      <a href='#' class='btn btn-xs' id="start-hour-help"
			 style="padding-left: 0px;"
			 data-toggle='popover'
			 data-html='true'
			 data-delay='{"hide":500}'
			 data-content='Sets the intial amount of time that the 
				experiment will run. Limit: <%- maxduration %>
				hours. If more time is needed, the duration can
				be extended after the experiment has been 
				created. Note that when resources are in short
				supply you might need to supply a smaller
				duration to avoid reservation system resource  
				errors, but typically you would leave the 
				default value as is.'>
			<span class='glyphicon glyphicon-question-sign'></span>
		      </a>
		    </div>
		  </div>
		</div>
		<div class="reserve-resources hidden">
		  <div class="align-center alert alert-danger hidden" 
		       id="doesnotfit-warning" role="alert"
		       style="margin-top: 10px; margin-bottom: 0px; width: 70%">
		    <b>Warning:</b>
		    <span id="doesnotfit-warning-now">
		      Unable to start at this time,</span>
		    <span id="doesnotfit-warning-datetime" class="hidden">
		      Unable to start at the date/time selected,</span>
		    other projects are using, or have reservations for,
		    some or all of the requested resources. Please
		    select a different start time, and if it can be
		    started at that time, we will also set the maximum
		    end time that can be accomodated. If you feel that
		    the end time we present is incorrect, you are welcome
		    to change it (or leave it blank) and click the Finish
		    button to continue, we won't mind.
		  </div>
		  <div class="align-center alert alert-info hidden" 
		       id="bestguess-info" role="alert"
		       style="margin-top: 10px; margin-bottom: 0px; width: 70%">
		    <b>Note:</b>
		    We have set the maximum end time for this experiment,
		    based on the reservations you have. If you do not have
		    any reservations, the end time reflects the default maximum
		    duration of 16 hours, or if other projects have current
		    reservations for the resources you requested, the end time
		    might be shorter to allow time for your experiment to end
		    and the resources recycled for the next user.
		  </div>
		  <center style="margin-top: 10px;">
		    End on date/time (<b>optional</b>)
		    <a href='#' class='btn btn-xs' id="end-hour-help"
		       style="padding-left: 0px; margin-bottom: 4px"
		       data-toggle='popover'
		       data-html='true'
		       data-delay='{"hide":500}'
		       data-content='Times are in your local timezone.
				     End day/time is <b>optional</b>;
				     your experiment
				     will terminate automatically
				     <%- maxduration %> hours after it starts.'>
		      <span class='glyphicon glyphicon-question-sign'></span>
		    </a>
		  </center>
		  <div class="row" style="margin-top: 10px;">
		    <div class="col-xs-4 col-xs-offset-2 format-me">
		      <input name="end_day"
			     style='position: relative;'
			     id='end_day'
			     data-key="end_day"
			     value="<%- formfields.start %>"
			     class="form-control"
			     placeholder="MM/DD/YYYY"
			     type="text">
		      <label class='control-label control-error hidden'
			     for='end_day'></label>
		    </div>
		    <div class="col-xs-4 format-me">
		      <select name="end_hour"
			      id='end_hour'
			      data-key="end_hour"
			      value=""
			      class="form-control"
			      type="text">
			<option value="">Time</option>
			<option value="0">12:00 AM</option>
			<option value="1">1:00 AM</option>
			<option value="2">2:00 AM</option>
			<option value="3">3:00 AM</option>
			<option value="4">4:00 AM</option>
			<option value="5">5:00 AM</option>
			<option value="6">6:00 AM</option>
			<option value="7">7:00 AM</option>
			<option value="8">8:00 AM</option>
			<option value="9">9:00 AM</option>
			<option value="10">10:00 AM</option>
			<option value="11">11:00 AM</option>
			<option value="12">12:00 PM</option>
			<option value="13">1:00 PM</option>
			<option value="14">2:00 PM</option>
			<option value="15">3:00 PM</option>
			<option value="16">4:00 PM</option>
			<option value="17">5:00 PM</option>
			<option value="18">6:00 PM</option>
			<option value="19">7:00 PM</option>
			<option value="20">8:00 PM</option>
			<option value="21">9:00 PM</option>
			<option value="22">10:00 PM</option>
			<option value="23">11:00 PM</option>
		      </select>
		      <label class='control-label control-error hidden'
			     for='end_hour'></label>
		    </div>
		  </div>
		</div>
		<div id="groups-div" class="hidden"
		     style="margin-top: 10px;">
		  <div style="font-size: 16px;">
		    <p>
		      These are the current resource reservations in
		      your project.  If one of these reservations has all
		      of the resources this experiment needs, click on the
		      checkbox to copy the start and end times into the
		      inputs above. Or, click on the button below to
		      create a brand new resource reservation. 
		    </p>
		  </div>
		  <div id="groups" class="align-center"></div>
		</div>
		<center class="reserve-resources"
			style="margin-top: 10px;">
		  <button type="button"
			  class='btn btn-primary btn-sm
				 reserve-resources-button'>
		    Create New Resource Reservation</button>
		</center>
	      </div>
	    </div>
	  </div>
	  <div class='col-xs-12 resgroup-div hidden'
	       style="padding-left: 0px; padding-right: 0px;">
	    <div class='panel panel-default'>
	      <div class='panel-heading'>
		<button type="button"
			class='btn btn-danger btn-sm pull-right'
			style="margin-top: -4px"
			id="cancel-reserve-resources-button">
		  Cancel</button>
		Please create a reservation for the resources used by this
		experiment.
	      </div>
	      <div class='panel-body'
		   style="padding-left: 0px; padding-right: 0px;">
	      </div>
	    </div>
	  </div>
	</form>
      </div>
    </div>
  </div>
</div>
<!-- This is the user verify modal -->
<div id='verify_modal' class='modal fade'
     data-keyboard="false" data-backdrop="static">
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
	<h3>Important</h3>
      </div>
      <div class='modal-body'>
	<p>Check your email for a verification code, and
	  enter it here:</p>
	<div class='form-group'>
	  <input name='verify' class='form-control'
		 id="verification_token"
		 placeholder='Verification code'
		 autofocus type='text' />
	  <label class='control-label control-error hidden'
		 id="verification_token_error"
		 for='verification_token'></label>
	</div>
	<div class='form-group'>
	  <button class='btn btn-primary form-control'
		  id='verify_modal_submit'
		  type='submit'>
	    Continue</button>
	</div>
      </div>
    </div>
  </div>
</div>
<!-- Graph Help -->
<div id='resgraph-help-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
        <button type='button' class='close' data-dismiss='modal'
                aria-hidden='true'>&times;</button>
	<br>
	<p>
	  The graph tells you how many of each node type are available
	  for use in an experiment, at a specific time in the
	  future. Note that nodes available immediately might not be
	  available later, although in general as you move further out
	  in time, more nodes are available.  Here are some helpful
	  features of the graphs:<ul>
	  <li> Click on a node type label to turn off that type's
	    line. This will rescale the other lines, sometimes
	    making it easier to see those other lines.</li>
	  <li> Hover over and move around the graph to show a
	    tooltip that will provide the date and time, and the free
	    count for all of the node types at the time stamp you are
	    hovering over.</li>
	  <li> To reserve nodes for an experiment, please visit the
	    <a href="resgroup.php">reservation</a> page.
	  </ul>
	</p>
      </div>
    </div>
  </div>
</div>
<!-- licenses -->
<div id='request-licenses-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
	<div>
	  <b>This profile uses resources that require additional permission
	    and/or license agreements.</b> If you wish to request access to the
	  following resources, click on the request button below.
	</div>
	<div style="margin-top: 10px;">
	  <dl>
	  </dl>
	</div>
	<center>
	  <button id='request-license-button'
		  class='btn btn-primary btn-sm'>
	    Request Access</button>
	  <button type='button' class='btn btn-default btn-sm'
		  data-dismiss='modal'>
	    Cancel</button>
	</center>
      </div>
    </div>
  </div>
</div>
<div id='submitted-licenses-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
        <button type='button' class='close' data-dismiss='modal'
                aria-hidden='true'>&times;</button>
	<br>
	Your request has been submitted. Please check your email for
	confirmation. You will receive additional email from Portal
	Operations when you can proceed. <b>There is no need to repeat
	  this request.</b>
      </div>
    </div>
  </div>
</div>
<div id='gotspectrum-modal' class='modal fade'
     data-keyboard='false' data-backdrop='static'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
	<center><h3>You need to reserve your resources!</h3></center>
      </div>
      <div class='modal-body'>
	<div style="font-size: 18px;">
	  <p>
	    You have requested radio spectrum in your profile. Have
	    you reserved the resources you need? You might not be able
	    to start this experiment until you have created a
	    reservation for the resources you need, and that
	    reservation has been approved. If you already have an
	    approved reservation then schedule the start of this
	    experiment to coincide with the start of your
	    reservation(s).
	  </p>
	  <p>
	    Note that spectrum reservations are <b>optional</b>, but if
	    you want guaranteed access to the spectrum for as long as you
	    need to run your experiment, a reservation is recommended.
	    Click on <em>Create New Resource Reservation</em> to create
	    a new reservation.	    
	  </p>
	  <center class="control-buttons">
	    <button id='reserve-resources-button'
		    class='btn btn-primary btn-sm'>
	      Reserve Resources</button>
	    <button type='button' class='btn btn-default btn-sm'
		    data-dismiss='modal'>
	      Dismiss</button>
	  </center>
	</div>
      </div>
    </div>
  </div>
</div>
<div id='resgroup-done-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
	<button type='button' class='close' data-dismiss='modal'
		aria-hidden='true'>
	  &times;</button>
	<center><h3>Reservation Submitted!</h3></center>
      </div>
      <div class='modal-body'>
	<div style="font-size: 18px;">
	  <p>
	    Your reservation request has been submitted. Since this
	    reservation must be approved before your experiment can be
	    started, we have set the scheduled start time for your
	    experiment to coincide with the start of the reservation.
	  </p>
	  <center>
	    <button type='button' class='btn btn-default btn-sm'
		    data-dismiss='modal'>
	      Dismiss</button>
	  </center>
	</div>
      </div>
    </div>
  </div>
</div>
<div id='nospectrum-warning' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
	<div style="font-size: 18px;">
	  <p>
	    <b>Warning:</b> You have not specified any frequency
	    request(s) for this experiment. Any transmissions will
	    result in a quarantined experiment and frozen account.
	  </p>
	  <center>
	    <button type='button' class='btn btn-default btn-sm'
		    data-dismiss='modal'>
	      Dismiss</button>
	  </center>
	</div>
      </div>
    </div>
  </div>
</div>
<div id='waitwait_div'></div>
<div id='rspecview_div'></div>
<div id='ppviewmodal_div'></div>
<div id='ppmodal_div'></div>
<div id='instantiate_div'></div>
<div id='editmodal_div'></div>
<div id='save_paramset_div'></div>
<div id='copy-profile-modal-div'></div>
<div id='profile-picker-modal-div'></div>
