<style>
 .compact-radio {
     margin-top: 0;
     margin-bottom: 0;
 }
 .table > thead > tr > th,
 .table > tbody > tr > th,
 .table > tfoot > tr > th,
 .table > thead > tr > td,
 .table > tbody > tr > td,
 .table > tfoot > tr > td {
     padding: 4px;
 }
</style>
<div class='panelX panel-defaultX'>
  <div class='panel-bodyX'>
    <center>
      <h3>Published papers that have used <%- window.APTTILE %></h3>
    </center>
    <input class='form-control search' type='search'
	   data-column='all'
	   id='papers-search' placeholder='Search'>
    <div class="text-center">
      <small>
	There are <span class="papers-match-count"></span>
	matching papers <span class="papers-match-breakdown"></span>
      </small>
    </div>
    <table class='tablesorter' id='papers-table'>
      <thead>
	<tr>
	  <th>Title</th>
	  <th class='filter-false'>Date</th>
	  <th style="width: 25px; text-align:center;"
	      class='filter-false sorter-false'>GS</th>
	  <th>Publication</th>
	  <th>Cites</th>
	  <% if (window.ISADMIN) { %>
	    <th class="filter-false"
		style="text-align:center;">Used Us</th>
	  <% } %>
	  <th style="width: 300px;">Authors</th>
	</tr>
      </thead>
      <tbody>
	<% _.each(papers, function(info, scopus_id) { %>
	  <% if (!window.ISADMIN && info.uses == "no") { return; } %>
	  <tr data-scopus-id="<%= scopus_id %>">
	    <td>
	      <% if (info.latest_abstract_doi) { %>
		<a target="_blank"
		   href="https://doi.org/<%= info.latest_abstract_doi %>">
		  <%= info.latest_abstract_title %></a>
	      <% } else if (info.latest_abstract_url) { %>
		<a target="_blank"
		   href="<%= info.latest_abstract_url %>">
		  <%= info.latest_abstract_title %></a>
	      <% } else { %>
		<%= info.latest_abstract_title %>
	      <% } %>
	      <td class="format-date"
		  style="white-space: nowrap;">
		<%= info.latest_abstract_pubdate %></td>
	      <td style="width: 25px; text-align:center;">
		<% if (info.latest_abstract_doi) { %>
		  <a target="_blank"
		     href="https://scholar.google.com/scholar?q=<%= info.latest_abstract_doi %>">
		    <span class="glyphicon glyphicon-link"></span></a>
		<% } else { %>
		    <a target="_blank"
		       href="https://scholar.google.com/scholar?q=<%= info.latest_abstract_title.split(/\s+/).join("+") %>">
		      <span class="glyphicon glyphicon-link"></span></a>
		<% } %>
	      </td>
	      <td><%= info.latest_abstract_pubname %></td>
	      <td><%= info.citedby_count %></td>
	      <% if (window.ISADMIN) { %>
		<td style="text-align:center;">
		  <div class="radio compact-radio">
		    <label>
		      <input type="radio" name="radio-<%= scopus_id %>"
			     <% if (info.uses == "unknown") { %>checked<% } %>
			     value="unknown">?</label>
		  </div>
		  <div class="radio compact-radio">
		    <label>
		      <input type="radio" name="radio-<%= scopus_id %>"
			     <% if (info.uses == "yes") { %>checked<% } %>
			     value="yes">Y</label>
		  </div>
		  <div class="radio compact-radio">
		    <label>
		      <input type="radio" name="radio-<%= scopus_id %>"
			     <% if (info.uses == "no") { %>checked<% } %>
			     value="no">N</label>
		  </div>		
		</td>
	      <% } %>
	      <td style="width: 300px;">
		<% if (window.ISADMIN && info.authors) { %>
		  <% var authors = [];
		     _.each(info.authors, function(info) {
		       authors.push("<a target=_blank href='user-dashboard.php?user=" + info.uid_idx + "#myprofile'>" + info.name + "</a>");
		     });
		     print(authors.join(","));
		   %>
		<% } else {%>
		  <%= info.latest_abstract_authors %>
		<% } %>
	      </td>
	  </tr>
	<% }); %>
      </tbody>
    </table>
  </div>
</div>
<div class='panelX panel-defaultX hidden' id="unmatched">
  <div class='panel-bodyX'>
    <input class='form-control search' type='search'
	   data-column='all'
	   id='unmatched-search' placeholder='Search'>
    <div class="text-center">
      <small>
	There are <span class="unmatched-match-count"></span>
	(non) matching papers
      </small>
    </div>
    <table class='tablesorter' id='unmatched-table'>
      <thead>
	<tr>
	  <th>Title</th>
	  <th class='filter-false'>Date</th>
	  <th style="width: 25px; text-align:center;"
	      class='filter-false sorter-false'>GS</th>
	  <th>Publication</th>
	  <th>Cites</th>
	  <% if (window.ISADMIN) { %>
	    <th class="filter-false"
		style="text-align:center;">Used Us</th>
	  <% } %>
	  <th style="width: 300px;">Authors</th>
	</tr>
      </thead>
      <tbody>
	<% _.each(unmatched, function(info, scopus_id) { %>
	  <tr data-scopus-id="<%= scopus_id %>">
	    <td>
	      <% if (info.latest_abstract_doi) { %>
		<a target="_blank"
		   href="https://doi.org/<%= info.latest_abstract_doi %>">
		  <%= info.latest_abstract_title %></a>
	      <% } else if (info.latest_abstract_url) { %>
		<a target="_blank"
		   href="<%= info.latest_abstract_url %>">
		  <%= info.latest_abstract_title %></a>
	      <% } else { %>
		<%= info.latest_abstract_title %>
	      <% } %>
	      <td class="format-date"
		  style="white-space: nowrap;">
		<%= info.latest_abstract_pubdate %></td>
	      <td style="width: 25px; text-align:center;">
		<% if (info.latest_abstract_doi) { %>
		  <a target="_blank"
		     href="https://scholar.google.com/scholar?q=<%= info.latest_abstract_doi %>">
		    <span class="glyphicon glyphicon-link"></span></a>
		<% } else { %>
		    <a target="_blank"
		       href="https://scholar.google.com/scholar?q=<%= info.latest_abstract_title.split(/\s+/).join("+") %>">
		      <span class="glyphicon glyphicon-link"></span></a>
		<% } %>
	      </td>
	      <td><%= info.latest_abstract_pubname %></td>
	      <td><%= info.citedby_count %></td>
	      <% if (window.ISADMIN) { %>
		<td style="text-align:center;">
		  <div class="radio compact-radio">
		    <label>
		      <input type="radio" name="radio-<%= scopus_id %>"
			     <% if (info.uses == "unknown") { %>checked<% } %>
			     value="unknown">?</label>
		  </div>
		  <div class="radio compact-radio">
		    <label>
		      <input type="radio" name="radio-<%= scopus_id %>"
			     <% if (info.uses == "yes") { %>checked<% } %>
			     value="yes">Y</label>
		  </div>
		  <div class="radio compact-radio">
		    <label>
		      <input type="radio" name="radio-<%= scopus_id %>"
			     <% if (info.uses == "no") { %>checked<% } %>
			     value="no">N</label>
		  </div>		
		</td>
	      <% } %>
	      <td style="width: 300px;">
		<%= info.latest_abstract_authors %>
	      </td>
	  </tr>
	<% }); %>
      </tbody>
    </table>
  </div>
</div>
