<div class='row'>
  <div class='col-sm-12'>
    <table id="mobile-endpoints-table" class="tablesorter">
      <thead>
	<tr>
	  <th class="text-nowrap">ID</th>
	  <th class="text-nowrap">Route</th>
	  <th class="sorter-mobiledates">Route Change</th>
	  <th class="sorter-mobiledates">Location Change</th>
	  <th class="sorter-mobiledates">Last Ping</th>
	  <th>Lat,Long</th>
	  <th>Speed</th>
	  <th>Heading</th>
	  <th>Free</th>
	  <% if (window.ISADMIN) { %>
	    <th>GPSD</th>
	    <th class="sorter-mobiledates">GPSD Time</th>
	  <% } %>
	</tr>
      </thead>
      <tbody>
	<% _.each(endpoints, function(info, id) { %>
	  <tr>
	    <td>
	      <% if (info.status != "up") { %>
		<span class="text-danger"><%- id %></span>
	      <% } else { %>
		  <%- id %>
	      <% } %>
	    </td>
	    <td>
	      <% if (info.routeid) { %>
		<a href="powder-map.php?route=<%- id %>"
		  class="location"
		  data-urn="<%- info.urn %>"
		  data-routeid="<%- info.routeid %>">
		  <%- info.routename %></a>
	      <% } %>
	    </td>
	    <td class="format-date" data-date="<%- info.route_changed %>">
	      <%- info.route_changed %></td>
	    <td class="format-date" data-date="<%- info.location_stamp %>">
	      <%- info.location_stamp %></td>
	    <td class="format-date" data-date="<%- info.last_ping %>">
	      <%- info.last_ping %></td>
	    <td>
	      <% if (info.routeid) { %>
		<a href="https://maps.google.com/?q=<%- info.latitude %>,<%- info.longitude %>&ll=<%- info.latitude %>,<%- info.longitude %>&z=18"
		   target="_blank">
		  <%- info.latitude %>,<%- info.longitude %></a>
	      <% } else { %>
		n/a
	      <% }  %>
	    </td>
	    <td><%- info.speed %></td>
	    <td><%- info.heading %></td>
	    <td>
	      <% if (info.status != "up") { %>
		n/a
	      <% } else { %>
		<% if (info.free) { %>Yes<% } else { %>
		  <% if (_.has(info, "holding_uuid")) { %>
		    <a href="status.php?uuid=<%- info.holding_uuid %>"
		       target="_blank">No</a>
		  <% } else { %>
		    No
		  <% } %>
		<% } %>
	      <% } %>
	    </td>
	    <% if (window.ISADMIN) { %>
	      <% if (info.gpsd_stamp) { %>
		<td>
		  <a href="https://maps.google.com/?q=<%- info.gpsd_latitude %>,<%- info.gpsd_longitude %>&ll=<%- info.gpsd_latitude %>,<%- info.gpsd_longitude %>&z=18"
		     target="_blank">
		    <%- info.gpsd_latitude %>,<%- info.gpsd_longitude %></a>
		</td>
		<td class="format-date" data-date="<%- info.gpsd_stamp %>">
		  <%- info.gpsd_stamp %></td>
	      <% } else { %>
		<td>n/a</td>
		<td>n/a</td>
	      <% } %>
	    <% } %>
	  </tr>
	<% }); %>
      </tbody>
    </table>
  </div>
</div>
