<div>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <div id="ppform-buttons" class="btn-group pull-right hidden">
	<div class="btn-group">
	  <button class="btn btn-default btn-xs dropdown-toggle"
		  data-toggle='dropdown'>
	    Save/Load Parameters <span class="caret"></span></button>
	  <ul class="dropdown-menu">
	    <li>
	      <a href="#"
		 class="p-save"
		 data-toggle='popover'
		 data-html='true'
		 data-content='Save these parameters so you can quickly apply them
			       when starting a new experiment using this
			       profile. Click for more information.'>
		Save Parameters
	      </a>
	    </li>
	    <li>
	      <a name="defaults" href="#"
		 class="p-defaults"
		 data-toggle='popover'
		 data-html='true'
		 data-content="Reset form back to parameter default values.">
		Restore Default Values
	      </a>
	    </li>
	    <li class="hidden">
	      <a name="last" href="#"
		 class="p-last"
		 data-toggle='popover'
		 data-html='true'
		 data-content="Use the same parameters as your last experiment
			       using this profile.">
		Load Last Experiment
	      </a>
	    </li>
            <li class='multilevel-submenu hidden p-recent'>
              <a href='#'
		 data-toggle='popover'
		 data-html='true'
		 data-content='Use the same parameters as one of your last
			       10 experiments using this profile.'>
		Last 10 Experiments</a>
              <ul class='dropdown-menu'>
	      </ul>
	    </li>
            <li class='multilevel-submenu hidden p-choose'>
              <a href='#'
		 data-toggle='popover'
		 data-html='true'
		 data-content='Choose from a list of your
			       <em>parameter sets</em>
			       to fill out the form options. You can also save
			       parameter sets from your experiment status page
			       and from your history listing.'>
		Your Parameter Sets</a>
              <ul class='dropdown-menu'>
	      </ul>
	    </li>
            <li class='multilevel-submenu hidden p-choose-public'>
              <a href='#'
		 data-toggle='popover'
		 data-html='true'
		 data-content='Choose from a list of <b>public</b>
			       <em>parameter sets</em> that have been provided
			       by system admininstrators.'>
		System Parameter Sets</a>
              <ul class='dropdown-menu'>
	      </ul>
	    </li>
	    <li class="hidden">
              <a href="#" class="p-history"
		 data-toggle='popover'
		 data-html='true'
		 data-content="Open a new window with a list of all current and
			       past experiments, to choose an experiment to run
			       again."
		 target="_blank">
		Experiment History
	      </a>
	    </li>
	  </ul>
	</div>
	<button class="p-powdermap btn btn-info btn-xs hidden"
		style="margin-right: 5px; margin-left: 5px;"
		data-toggle='popover'
		data-html='true'
		data-content="Click to popup the Powder radio map">
	  Radio Map</button>
	<button class="p-resources btn btn-info btn-xs"
		style="margin-right: 5px;"
		data-toggle='popover'
		data-html='true'
		data-content="Click to popup a resource availability window.">
	  Resource Availability</button>
      </div>
      <span class="ppform-instantiate">
	This profile is parameterized; please make your selections below,
	and then click <b>Next</b>.
      </span>
      <span class="ppform-modify hidden">
	Please make your changes below and then click <b>Continue</b>.
      </span>
    </div>
    <div class='panel-body'>
      <div id="ppalert" class="alert alert-warning hidden"></div>
      <div id='ppmodal-body'></div>
    </div>
  </div>
</div>
