<style>
.toggle, .ota-agreement {
  cursor: pointer;
}
</style>
<div>
  <table class='table table-condensed table-bordered' id="project_table">
    <tr>
      <td>PID</td>
      <td><%- fields.pid %> (<%- fields.pid_idx%>)</td>
    </tr>
    <tr>
      <td>Description</td>
      <td><%- fields.description %></td>
    </tr>
    <tr>
      <td>URL</td>
      <td><a href='<%- fields.url %>'><%= fields.url %></td>
    </tr>
    <tr>
      <td>Leader</td>
      <td><a href='user-dashboard.php?user=<%- fields.leader %>'>
	<%= fields.leader %></a></td>
    </tr>
    <tr>
      <td>Created</td>
      <td class="format-date"><%= fields.created %></td>
    </tr>
    <% if (fields.portal) { %>
      <tr>
	<td>Portal</td>
	<td><%= fields.portal %></td>
      </tr>
    <% } %>
    <tr>
      <td>Approved</td>
      <td><% if (fields.approved) { %>Yes<% } else { %>No<% } %></td>
    </tr>
    <% _.each(fields.licenses, function(license) { %>
      <tr>
	<td><%- license.name %> license
	  <% if (license.description_text &&
	    license.description_text != "") {
	    var description_html = license.description_text;
 	    if (license.description_type == "md") {
	      description_html = marked(description_html);
	    }
	    else if (license.description_type == "text") {
	      description_html = "<pre>" +
	      license.description_text + "</pre>";
	    } %>
	    <a href='#' class='btn btn-xs'
	       data-toggle='popover'
	       data-html='true'
	       data-delay='{"hide":500}'
	       data-content="<%- description_html %>">
	      <span class='glyphicon glyphicon-question-sign'
		    style='margin-bottom: 4px;'></span>
	    </a>
          <% } %>
	</td>
	<td>
	  <% if (license.requested) { %>
	    <% if (license.accepted) { %>
	      Accepted (<%- license.accepted %>)
	    <% } else { %>
	      Acceptance pending
	    <% } %>
	  <% } else { %>
	    <% if (isadmin || isleader) { %>
	      <a href='#' class="request-license"
		 data-license_idx="<%- license.idx %>">Request</a>
	    <% } else { %>
	      Not Requested
	    <% } %>
	  <% } %>
	</td>
      </tr>
    <% }); %>
    <% if (isadmin) { %>
      <tr>
	<td>For a Class?</td>
	<td><% if (fields.forClass) { %>Yes<% } else { %>No<% } %>
	  (<a class="toggle" data-name="project_forClass">Toggle</a>)
	</td>
      </tr>
      <tr>
	<td>Disabled</td>
	<td><% if (fields.disabled) { %>Yes<% } else { %>No<% } %>
	  (<a class="toggle" data-name="project_disable">Toggle</a>)
	</td>
      </tr>
      <tr>
	<td>Reservations Disabled</td>
	<td><% if (fields.reservations_disabled) { %>Yes<% } else { %>No<% } %>
	  (<a class="toggle" data-name="project_resdisable">Toggle</a>)
	</td>
      </tr>
      <% if (window.MAINSITE) { %>
	<tr>
	  <td>Bound to Portal</td>
	  <td><% if (fields.bound_portal) { %>Yes<% } else { %>No<% } %>
	    (<a class="toggle" data-name="bound_portal">Toggle</a>)
	  </td>
	</tr>
	<tr>
	  <td>Industry</td>
	  <td><% if (fields.industry) { %>Yes<% } else { %>No<% } %>
	    (<a class="toggle" data-name="industry">Toggle</a>)
	  </td>
	</tr>
	<tr>
	  <td>Consortium</td>
	  <td><% if (fields.consortium) { %>Yes<% } else { %>No<% } %>
	    (<a class="toggle" data-name="consortium">Toggle</a>)
	  </td>
	</tr>
	<tr>
	  <td>Expert Mode</td>
	  <td><% if (fields.expert_mode) { %>Yes<% } else { %>No<% } %>
	    (<a class="toggle" data-name="expert_mode">Toggle</a>)
	  </td>
	</tr>
	<tr>
	  <td>NFS Mounts</td>
	  <td><%= fields.nfsmounts %></td>
	</tr>
	<% if (fields.allowed_clusters) { %>
	  <tr>
	    <td>Allowed Clusters</td>
	    <td><%= fields.allowed_clusters %></td>
	  </tr>
	<% } %>
      <% } %>
      <% if (window.ISPOWDER) { %>
	<tr>
	  <td>OTA Enabled</td>
	  <td><% if (fields.otaAllowed) { %>
	    Yes
	  <% } else { %>
	    No (<a id="send-ota-agreement" class="ota-agreement">Send OTA
	    agreement to project leader</a>)
	  <% } %>
	</tr>
      <% } %>
    <% } %>
    <% _.each(fields.nsf_awards, function(award) { %>
      <tr>
	<td>NSF Award</td>
	<td><%- award.award %>
	  <% if (award.supplement == 1) { %>
	    (supplement)
	  <% } %>
	</td>
      </tr>
    <% }); %>
    <tr>
      <td colspan="2"><center>Long Description</center></td>
    </tr>
    <tr>
      <td colspan="2"><%- fields.why %></td>
    </tr>
  </table>
</div>
