<div>
  <table class='tablesorter'>
    <thead>
      <tr>
	<th>Experiment</th>
	<th>Project</th>
	<th data-placeholder="low - high">Lower (MHz)</th>
	<th data-placeholder="low - high">Upper (MHz)</th>
	<th>Type</th>
	<th>Target</th>
	<th>Started</th>
	<th>Destroyed</th>
      </tr>
    </thead>
    <tbody>
      <% _.each(ranges, function(range) { %>
	<tr>
	  <td><a href="memlane.php?uuid=<%- range.uuid %>">
	    <%- range.name %></a></td>
	  <td><a href="show-project.php?project=<%- range.pid %>">
	    <%- range.pid %></a></td>
	  <td><%- range.freq_low %></td>
	  <td><%- range.freq_high %></td>
	  <td><%- range.type %></td>
	  <td><%- range.target %></td>
	  <td><%- moment(range.started).format("lll") %></td>
	  <td><%- moment(range.destroyed).format("lll") %></td>
	</tr>
      <% }); %>
    </tbody>
  </table>
</div>
