<style>
.scrollable-panel {
	max-height:350px;
	overflow-y:scroll;
}
.fixedsize-panel {
	max-height:500px;
	height:500px;
}
.smalldiv {
	max-height:400px;
	height:400px;
}
.history-tstamp {
	min-width: 100px;
	width:100px;
	max-width: 100px;
}
pre {
	white-space: pre-wrap;
        word-break: normal;
        word-wrap: normal;
}
.panel-body-nopad {
     padding: 5px;
 }
.panel-heading-nopad {
    padding: 5px;
 }
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
    padding: 2px;
 }
.popover
{
    min-width: 500px !important;
}
/* Important part */
#top-processes-modal .modal-dialog {
    overflow-y: initial !important
}
#top-processes-modal .modal-body {
    height: 80vh;
    overflow-y: auto;
} 
</style>
<div id="main-template">
<div class='row'>
  <div class='col-lg-8  col-lg-offset-2
       col-md-8  col-md-offset-2
       col-sm-10 col-sm-offset-1
       col-xs-12 col-xs-offset-0'>
    <div class='panel panel-default' id='status_panel'>
      <div class="panel-heading">
	<h5>
	  <a data-toggle="collapse" id="profile_status_toggle"
	     href="#profile_status_collapse">
	    <span id='status_message'></span>
	    <span class="glyphicon glyphicon-chevron-right pull-left"
	          style="margin-right: 5px;"></span>
	  </a>
	</h5>
      </div>
      <div id="profile_status_collapse" data-chevron="profile_status_toggle"
	   class="panel-collapse collapse">
	<div class='panel-body'>
          <span id='quickvm_status_hidden' class="hidden"></span>
	  <table class='table table-condensed nospaceafter border-none'>
	  <!-- The spinner will start out invisible -->
	  <tr>
	    <td colspan=2 class='border-none'>
	      <div id='status_progress_outerdiv' class='hidden'>
		<div id='status_progress_div'
                     class='progress progress-striped active nospaceafter'>
		  <div class='progress-bar' role='progressbar'
                       id='status_progress_bar'
                       style='width: 33%;'></div>
		</div>
	      </div>
	    </td>
	  </tr>
	  <tr>
	    <td class='border-none'>Name:</td>
	    <td class='border-none'><%- expinfo.name %></td>
	  </tr>
	  <tr>
	    <td class='border-none'>State:</td>
	    <td class='border-none'>
              <span id='quickvm_status'>
		<font></font>
              </span>
	      <span class="hidden ignore-failure"
		    style='margin-left: 10px;'>
		(You can <a class='ignore-failure-button' href="#"
		    data-target='#ignore-failure-modal'
			    data-toggle='modal'>ignore this failure</a>)</span>
	      <span class="hidden" id="explain-quarantine"
		    style='margin-left: 10px;'>
		(<a id='explain-quarantine-button' href="#"
		    data-target='#explain-quarantine-modal'
		    data-toggle='modal'>What does this mean</a>?)</span>
	    </td>
	  </tr>
	  <% if (expinfo.profile_uuid) { %>
	    <tr>
	      <td class='border-none'>Profile:</td>
	      <td class='border-none'>
		<a target=_blank
		   href='show-profile.php?uuid=<%- expinfo.profile_uuid %>'>
		  <%- expinfo.profile_name %></a></td>
	    </tr>
	  <% } %>
	  <% if (expinfo.reporef) { %>
	    <tr>
	      <td class='border-none'>RefSpec:</td>
	      <td class='border-none'>
		<span><%= expinfo.reporef %></span>
		(<%= expinfo.repohash.substring(0,8) %>)
	      </td>
	    </tr>
	  <% } else if (expinfo.repohash) { %>
	    <tr>
	      <td class='border-none'>RepoHash:</td>
	      <td class='border-none'>
		<%= expinfo.repohash.substring(0,8) %>
	      </td>
	    </tr>
	  <% } %>
	  <% if (1) { %>
	    <tr>
	      <td class='border-none'>Creator:</td>
	      <td class='border-none'>
		<% if (registered) { %>
		  <a href="user-dashboard.php?user=<%- expinfo.creator %>">
		    <%- expinfo.creator %></a>
		<% } else { %>
	          <a href="mailto:<%- expinfo.creator_email %>"><%- expinfo.creator_email %></a>
	        <% } %>
	      </td>
	    </tr>
	    <% if (expinfo.project) { %>
	      <tr>
		<% if (expinfo.project == expinfo.group) { %>
		  <td class='border-none'>Project:</td>
		  <td class='border-none'>
		    <a href="show-project.php?pid=<%- expinfo.project %>">
		      <%- expinfo.project %></a></td>
		<% } else { %>
		    <td class='border-none'>Group:</td>
		    <td class='border-none'>
		      <a href="show-group.php?pid=<%- expinfo.project %>&gid=<%- expinfo.group %>">
			<%- expinfo.project %>:<%- expinfo.group %></a></td>
		<% } %>
	      </tr>
	    <% } %>
	  <% } %>
	  <% if (!expinfo.started) { %>
	    <tr class="exp-created">
	      <td class='border-none'>Created:</td>
	      <td class='border-none format-date'><%- expinfo.created %></td>
	    </tr>
	  <% } %>
	  <% if (expinfo.start_at) { %>
	    <tr class="exp-scheduled">
	      <td class='border-none'>Scheduled:</td>
	      <td class='border-none format-date'><%- expinfo.start_at %></td>
	    </tr>
	  <% } %>
	  <tr class="exp-running hidden">
	    <td class='border-none'>Started:</td>
	    <td class='border-none format-date'
		id="exp-started-date"><%- expinfo.started || "" %></td>
	  </tr>
	  <tr>
	    <td class='border-none'>Expires:</td>
	    <td class='border-none'>
	      <span id='instance_expiration'>
		<span id='quickvm_expires' class='format-date'>
		  <%- expinfo.expires %></span>
		(<span id='quickvm_countdown'></span>)
	      </span>
	    </td>
	  </tr>
	  <tr id="maximum-extension" class="hidden">
	    <td class='border-none'>Extendable:</td>
	    <td class='border-none'>
	      <span id="maximum-extension-string"></span>
	      <a href='#' class='btn btn-xs'
		 data-toggle='popover'
		 data-html='true'
		 data-delay='{"hide":500}'
		 data-content="This is the maximum extension that is
			       <em>possible</em> because of future reservation
			       promises for the resources you are using. It
			       does not mean you will be granted an extension
			       till this date.">
		<span class='glyphicon glyphicon-question-sign'
		      style='margin-bottom: 4px;'></span>
	      </a>
	    </td>
	  </tr>
	  </table>
	  <div class='pull-left'>
	    <a class='btn btn-info btn-xs pull-left hidden'
               style='margin-right: 10px;'
	       id='sliverinfo_button'
               href='#'
	       target='_blank'
               type='button'>Logs</a>
	    <div id='sliverinfo_dropdown' class='hidden'>
	      <select style='margin-right: 0px;'>
		<option value='selectme'>Logs</option>
	      </select>
	      <a class='btn btn-info btn-tiny'
		 style='margin-right: 10px;'
		 href='#'
		 target='_blank'
		 type='button'>Go</a>
	    </div>
	  </div>
	  <div class='pull-left'>
	    <a class='hidden'
               style='margin-right: 10px;'
	       id='logfile_button'
               href='#'
	       target='_blank'
               type='button'>Portal Log</a>
	  </div>
	  <% if (isadmin) { %>
	    <div class='pull-left'>
	      <button class='btn btn-xs btn-danger' disabled hidden
		      style='margin-right: 10px;'
		      id='warnkill-experiment-button' type=button
		      data-delay='{"show":300}'
		      data-toggle='popover'
		      data-content='Warn user or terminate/quarantine
				    experiment with cause
				    and optionally freeze the user account.'>
 		Warn/Kill</button>
	      <button class='btn btn-xs btn-danger' disabled hidden
		      style='margin-right: 10px;'
		      id='release-quarantine-button' type=button
		      data-toggle='popover'
		      data-content='Release experiment from quarantine.'>
 		Release</button>
	    </div>
	  <% } %>
	  <div class='pull-right'>
	    <a href="#" target="_blank"
	       class='btn btn-xs btn-info hidden' 
	       style='margin-right: 10px;'
	       id='confirm-stuff-button' type=button
	       data-delay='{"show":250}'
	       data-toggle='popover'
	       data-content='Explore performance results from a set of
			     low-level benchmarks characterizing the
			     hardware used in this experiment.'>
 	      Performance History</a>
	    <% if (registered && !isfadmin) { %>
	      <button class='btn btn-xs btn-info hidden'
		      id='rerun_button' type=button
		      data-toggle='popover'
	              data-delay='{"show":300}'
		      data-html='true'
		      data-content="Share a link to run this experiment using the
				    same parameters."> 
		Share</button>
	      <button class='btn btn-info btn-xs hidden'
		      id='save_paramset_button'
		      data-toggle='popover'
		      data-delay='{"show":300}'
		      data-content='Save the parameters used to create this
				    experiment, so you can quickly apply them
				    when starting a new experiment using this
				    profile. Click for more information.'
		      type='button'>Save Parameters</button>
	      <button class='btn btn-info btn-xs hidden' disabled
		      id='modify_experiment_button'
		      style='margin-right: 30px;'
		      data-toggle='popover'
		      data-delay='{"show":300}'
		      data-content='Modify experiment'
		      type='button'>Modify</button>
	      <span>
		<button class='btn btn-xs btn-success hidden' disabled
			style='margin-right: 10px;'
			id='linktest-stop-button' type=button
                        data-delay='{"show":300}'
			data-toggle='popover'
			data-content='Stop a running or wedged linktest'>
 		  Stop Linktest</button>
	      </span>
	      <button class='btn btn-xs btn-primary hidden'
		      style='margin-right: 10px;'
		      id='connect-sharedlan-button' type=button
		      data-toggle='popover'
	              data-delay='{"show":300}'
		      data-html='true'
		      data-content="Connect to a shared lan in another
				    experiment."> 
		(Dis)Connect Shared Lan</button>
	      <button class='btn btn-xs btn-primary hidden' disabled
		      id='snapshot_button' type=button
		      data-toggle='popover'
	              data-delay='{"show":300}'
		      data-html='true'
		      data-content="Create a disk image from one of your nodes.
				    Click for more info."> 
		Create Disk Image</button>
	      <% if (window.APT_OPTIONS.cancopy_profile) { %>
		<a class='btn btn-xs btn-primary'
		   href='manage_profile.php?action=copy&uuid=<%= expinfo.profile_uuid %>'
		   id='copy_button' type=button
		   data-toggle='popover'
	           data-delay='{"show":300}'
		   data-html='true'
		   data-content="When you <em>copy</em> a profile,
			 you are creating a new profile that
			 uses the same source code and metadata (description,
			 instructions) as the original profile, but without
			 creating a new disk image. Instead, the new profile
			 uses whatever images the original profile uses."> 
		  Copy</a>
	      <% } %>
	    <% } %>
	    <button class='btn btn-xs btn-success exp-running hidden' disabled
		    id='extend_button' type=button>
              <% if (isfadmin) { %>Extension History<% } else { %>Extend<% } %>
	    </button>
	    <% if (!isfadmin) { %>
	      <button class='btn btn-xs btn-danger' disabled
		      id='terminate_button' type=button
		      data-toggle='modal' data-target='#terminate_modal'>
		Terminate</button>
	    <% } %>
	  </div>
	  <% if (isadmin) { %>
	    <div class='clearfix'></div>	  
	    <div class='exp-running hidden pull-left'
		 style='margin-right: 10px;'
		 data-toggle='popoverxx'
		 data-delay='{"show":750}'
		 data-content="When checked, only administrators can extend
			       this experiment. No free time is granted to
			       user at all.">
	      <label class="checkbox-inline">
		<input type="checkbox" id="lockout_checkbox" disabled
		       <% if (expinfo.lockout) { %>checked<% } %> >
		Lockout</label>
	    </div>
	    <div class='exp-running hidden pull-left'
		 style='margin-right: 10px;'
		 data-toggle='popoverxx'
		 data-delay='{"show":750}'
		 data-content="When checked, the experiment 
			       cannot be terminated by the user unless the
			       user verifies 
			       the lockdown code when clicking the Terminate
			       button. This prevents accidental termination,
			       and is automatically set whenever an experiment
			       is extended for more then two weeks.
			       Use the admin lockdown flag to fully prevent
			       termination."> 
	      <label class="checkbox-inline">
		<input type="checkbox" id="user_lockdown_checkbox" disabled
		       <% if (expinfo.user_lockdown) { %>checked<% } %> >
		User Lockdown</label>
	    </div>
	    <div class='exp-running hidden pull-left'
		 style='margin-right: 10px;'
		 data-toggle='popoverxx'
		 data-delay='{"show":750}'
		 data-content="When checked, the experiment 
			       cannot be terminated by the user. Only an
			       admin can do it.">
	      <label class="checkbox-inline">
		<input type="checkbox" id="admin_lockdown_checkbox" disabled
		       <% if (expinfo.admin_lockdown) { %>checked<% } %> >
		Admin Lockdown</label>
	    </div>
	    <div class='exp-running hidden pull-left'>
	      <a target="_blank"
		 data-toggle='popover'
		 data-delay='{"show":500, "hide":0}'
		 <% if (expinfo.admin_notes == "") { %>
		 data-content="Add admin notes to this experiment"
		 <% } else { %>
		 data-content="This experiment has admin notes"
		 <% } %>
		 href='adminextend.php?uuid=<%= uuid %>'>Admin Notes</a>
	    </div>
	  <% } %>
	</div>
      </div>
    </div>
  </div>
</div>
<!-- Add a hidden div for errors returned by the instantiation. -->
<div class='row hidden' id='error_panel'>
  <div class='col-lg-8  col-lg-offset-2
	      col-md-8  col-md-offset-2
	      col-sm-10 col-sm-offset-1
	      col-xs-12 col-xs-offset-0'>
    <div class="panel panel-danger">
      <div class="panel-heading">
        <center><h4 class="panel-title">Error Messages</h4></center>
      </div>
      <div class="panel-body"><code style="white-space: pre-wrap"
				    id="error_panel_text"></code>
      </div>
      <div class="panel-footer">
	<div class="resource-error hidden">
	  <b>More info about resource errors (not enough nodes):</b>
	  <ul>
	    <li> To see how many nodes are available right now, or
	      when nodes will be available in the future, check out
	      the <a href="resinfo.php" target="_blank">cluster status</a>
	      page.
	    </li>
	    <li> Try asking for a smaller number of nodes, or nodes of a
	      different type.
	      <% if (window.ISCLOUD) { %>
		Or try using a different cluster.
	      <% } %>
	    </li>
	    <li> Try setting the initial experiment duration to a
	      shorter amount of time. You will find this option in the
	      <em>Advanced Options</em> section of the
	      <a href="instantiate" target="_blank">Start Experiment</a>
	      page.
	    </li>
	    <li> Still cannot get enough nodes right away? Try making a
	      <a href="resgroup.php" target="_blank">reservation</a>
	      for the future.
	    </li>
	  </ul>
	</div>
	Not sure how to proceed or have further questions about this
	error? Join the
        <a href='<%= errorURL %>'>users group</a> and ask a question. Be
        sure to include the error message in your question and the
	<a href="#" class="status-page-link">URL</a> of your experiment
	status page.
	<span class="hidden ignore-failure">
	  <em>This error can be
	    <a class='ignore-failure-button' href="#"
	       data-target='#ignore-failure-modal'
	       data-toggle='modal'>ignored</a> if you do not want the
	    experiment to be reaped automatically.</em>
	  Nodes can sometimes be resurrected by rebooting or reloading, click
	  on the node(s) to view the context menu.
	</span>
      </div>
    </div>
  </div>
</div>
<!-- Add a hidden div for errors returned by the instantiation. -->
<div class='row hidden' id='general-error'>
  <div class='col-lg-8  col-lg-offset-2
	      col-md-8  col-md-offset-2
	      col-sm-10 col-sm-offset-1
	      col-xs-12 col-xs-offset-0
	      alert alert-danger'>
  </div>
</div>
<div class='row hidden' id='error-panel-new'>
  <div class='col-lg-8  col-lg-offset-2
	      col-md-8  col-md-offset-2
	      col-sm-10 col-sm-offset-1
	      col-xs-12 col-xs-offset-0'>
    <div class="panel panel-danger">
      <div class="panel-heading">
        <center><h4 class="panel-title">Error Information</h4></center>
      </div>
      <div class="panel-body">
	<div class="multisite-errors hidden">
	  <div class="panel-group" style="margin-bottom: 5px; "
	       role="tablist">
	    <div class="panel panel-danger error-template hidden">
	      <div class="panel-heading" role="tab">
		<h4 class="panel-title">
		  <a role="button" data-toggle="collapse"
		     style="text-decoration: underline;"
		     data-parent="#error-panel-new .panel-group"
		     href="#fooey"></a>
		</h4>
	      </div>
	      <div id="fooey" class="panel-collapse collapse" role="tabpanel">
		<div class="panel-body">
		  <div class="error-message hidden"
		       style="margin-bottom:10px;"></div>
		  <div style="padding-left: 20px;">
		    <code class="error-cause"
			  style="white-space: pre-wrap; padding:0px;"></code>
		  </div>
		</div>
	      </div>
	    </div>	  
	  </div>
	</div>
	<div class="singlesite-errors hidden">
	  <div class="error-message" style="margin-bottom:10px;"></div>
	  <div style="padding-left: 20px;">
	    <code class="error-cause"
		  style="white-space: pre-wrap; padding:0px;"></code></div>
	</div>
      </div>
      <div class="panel-footer resource-error hidden">
	<div>
	  <b>More info about resource errors (not enough nodes):</b>
	  <ul>
	    <li> To see how many nodes are available right now, or
	      when nodes will be available in the future, check out
	      the <a href="resinfo.php" target="_blank">cluster status</a>
	      page.
	    </li>
	    <li> Try asking for a smaller number of nodes, or nodes of a
	      different type.
	      <% if (window.ISCLOUD) { %>
		Or try using a different cluster.
	      <% } %>
	    </li>
	    <li> Try setting the initial experiment duration to a
	      shorter amount of time. You will find this option in the
	      <em>Advanced Options</em> section of the
	      <a href="instantiate" target="_blank">Start Experiment</a>
	      page.
	    </li>
	    <li> Still cannot get enough nodes right away? Try making a
	      <a href="resgroup.php" target="_blank">reservation</a>
	      for the future.
	    </li>
	  </ul>
	</div>
      </div>
    </div>
  </div>
</div>

<div class='row hidden' id='pending-panel'>
  <div class='col-lg-8  col-lg-offset-2
	      col-md-8  col-md-offset-2
	      col-sm-10 col-sm-offset-1
	      col-xs-12 col-xs-offset-0'>
    <div class="panel panel-info">
      <div class="panel-heading">
        <center><h4 class="panel-title">Experiment is Pending</h4></center>
      </div>
      <div class="panel-body">
	<code class="pending-cause" style="white-space: pre-wrap"></code>
	<div class="pending-reason"
	     style="margin-top: 15px; font-weight: bold;"></div>
      </div>
      <div class="panel-footer">
	More info about pending experiments:
	<ul>
	  <li>
	    An experiment enters the <em>pending</em> state when none
	    of the resources can be allocated, but the system decides
	    that it should attempt again later.
	  </li>
	  <li>
	    For example, if you have a reservation for all of the
	    resources, the error is possibly transient, and might
	    clear up in a short time.
	  </li>
	  <li>
	    You can terminate the experiment any time.
	  </li>
	</ul>
      </div>
    </div>
  </div>
</div>
<!-- Add a div for the prestaging info -->
<div class='row hidden' id='prestage-panel'>
  <div class='col-lg-8  col-lg-offset-2
	      col-md-8  col-md-offset-2
	      col-sm-10 col-sm-offset-1
	      col-xs-12 col-xs-offset-0'>
    <div class="panel panel-info">
      <div class="panel-heading panel-heading-nopad">
	<h5>Prestage Progress
	  <a href='#' class='btn btn-xs info-button'>
	    <span class='glyphicon glyphicon-question-sign'
		  style='margin-bottom: 4px;'></span></a>
	</h5>
      </div>
      <div class="panel-body">
      </div>
    </div>
  </div>
</div>
<!-- Add a div for the instructions if there are instructions. The cliet
     will actually fill in the div though, since it is markdown and that
     is more easily done on the client side for now. -->
<div class='row hidden' id='instructions_panel'>
  <div class='col-lg-8  col-lg-offset-2
	      col-md-8  col-md-offset-2
	      col-sm-10 col-sm-offset-1
	      col-xs-12 col-xs-offset-0'>
    <!-- Collapsable panel -->
    <div class="panel panel-info">
      <div class="panel-heading">
	<h5>
	  <a data-toggle="collapse" id="profile_instructions_toggle"
	     href="#profile_instructions_collapse">Profile Instructions
	    <span class="glyphicon glyphicon-chevron-right pull-left"
	          style="margin-right: 5px;"></span>
	  </a>
	</h5>
      </div>
      <div id="profile_instructions_collapse"
	   data-chevron="profile_instructions_toggle"
	   class="panel-collapse collapse">
	<div class="panel-body">
	  <div id="instructions_text"></div>
	</div>
      </div>
    </div>
  </div>
</div>
<!-- The topo diagram goes inside this div, when it becomes available. -->
<div class='row'>
  <div class='col-lg-12  col-lg-offset-0
	      col-md-12  col-md-offset-0
	      col-sm-12  col-sm-offset-0
	      col-xs-12  col-xs-offset-0'>
    <center>
      <button class="hidden"
	      type='button' id="selenium-shell-button">SHELL</button>
    </center>
    <div class='panel panel-default hidden' id='showtopo_container'>
      <div class='panel-body'>
	<div id='quicktabs_div'>
	  <ul id='quicktabs_ul' class='nav nav-tabs'>
	    <li class='hidden'>
              <a href='#topology' id='show_topology_tab'
		 data-toggle='tab'>Topology View</a>
            </li>
	    <li class='hidden'>
              <a href='#listview' id='show_listview_tab'
		 data-toggle='tab'>List View</a>
            </li>
	    <li class='hidden' id="show_powder-map_li">
              <a href='#powder-map' id='show_powder-map_tab'
		 data-toggle='tab'>Powder Map</a>
            </li>
	    <li class='hidden'>
              <a href='#rspec' id='show_rspec_tab'
		 data-toggle='tab'>Rspec</a>
            </li>
	    <li class='hidden'>
              <a href='#manifest' id='show_manifest_tab'
		 data-toggle='tab'>Manifest</a>
            </li>
	    <li class="hidden" id="show_idlegraphs_li">
              <a href='#Idlegraphs' id='show_idlegraphs_tab'
		 data-toggle='tab'>Graphs
		<button class='close hidden'
			style="margin-top:0px;"
			type='button' id="graphs-refresh-button">
		  <span class='glyphicon glyphicon-repeat'></span></button>
	      </a>
            </li>
	    <li class="hidden" id="show_openstack_li">
              <a href='#Openstack' id='show_openstack_tab'
		 data-toggle='tab'>Openstack Data
		<button class='close hidden'
			style="margin-top:0px;"
			type='button' id="openstack-refresh-button">
		  <span class='glyphicon glyphicon-repeat'></span></button>
	      </a>
            </li>
	    <li class="hidden" id="show_bindings_li">
              <a href='#bindings' id='show_bindings_tab'
		 data-toggle='tab'>Bindings</a>
            </li>
	  </ul>
	  <div id='quicktabs_content' class='tab-content'>
            <div class='tab-pane hidden' id='topology'>
	      <div id='showtopo_statuspage' class='jacks'></div>
	      <% if (registered) { %>
		<button class='btn btn-xs btn-success pull-right' disabled
			id='refresh_button' type=button
			data-toggle='popover'
			data-delay='{"hide":1000, "show":500}'
			data-content='Ask cluster for updated node status'>
		  Refresh Status</button>
		<span>
		  <button class='btn btn-xs btn-success pull-right hidden'
			  disabled
			  data-toggle='popover'
			  data-delay='{"hide":1000, "show":500}'
			  data-content='Run linktest on the topology'
			  style='margin-right: 10px;'
			  id='linktest-modal-button' type=button>
		    Run Linktest</button>
		</span>
		<% if (1) { %>
		  <span>
		    <button class='btn btn-xs btn-success pull-right'
			    disabled
			    data-toggle='popover'
			    data-delay='{"hide":1000, "show":500}'
			    data-content='Reload the topology in case it has
					  changed at the cluster'
			    style='margin-right: 10px;'
			    id='reload-topology-button' type=button>
		      Reload Topo</button>
		  </span>
		<% } %>
	      <% } %>
              <small class="pull-left">Click on a node for more options. 
                Click and drag to move things around.
		<span id="multisite-context-menu-notice" class="hidden">
		  Click on a <em>site name</em> to delete the site.</span>
	      </small>
	    </div>
            <div class='tab-pane hidden' id='listview'>
	      <div id='showtopo_listview'>
		<table class='tablesorter' id='listview_table'>
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Node</th>
                      <th>Type</th>
		      <% if (window.ISPOWDER || window.ISCLOUD) { %>
			<th>Cluster</th>
		      <% } %>
                      <th>Status</th>
                      <th>Startup</th>
                      <th>Image</th>
                      <th class='filter-false sorter-false'>SSH command <small>
			(if you provided your own key)</small>
                      </th>
                      <th class='filter-false sorter-false'
			  style='text-align: left;'>
			<div id='listview-action-menu' class='dropdown'>
			  <input type="checkbox" id="select-all">
			  <button id='action-menu-button' type='button'
				  style="margin-top: -6px;"
				  class='btn btn-primary btn-xs dropdown-toggle'
				  data-toggle='dropdown'>
			    <span class='glyphicon glyphicon-cog'></span>
			  </button>
			  <ul class='dropdown-menu text-left' role='menu'>
			    <li><a href='#' name='reboot'>Reboot Selected</a>
			    </li>
			    <li><a href='#' name='reload'>Reload Selected</a>
			    </li>
			    <li><a href='#' name='delete'>Delete Selected</a>
			    </li>
			  </ul>
			</div>
		      </th>
		      <th class='filter-false sorter-false'
			  style='text-align: center;'>
			<span class='glyphicon glyphicon-cog'
			      style="padding-bottom: 6px;"></span></th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
		</table>
              </div>
            </div>
	    <div class='tab-pane hidden' id='manifest'>
              <div id='manifest_textarea' style='width: 100%;'></div>
	    </div>
	    <div class='tab-pane hidden' id='powder-map'>
	      <div class="powder-mapview" style='width: 100%;'></div>
	    </div>
	    <div class='tab-pane hidden' id='rspec'>
              <div id='rspec_textarea' style='width: 100%;'></div>
	    </div>
	    <div class='tab-pane hidden' id='Idlegraphs'>
	      <div class="hidden" id="nodata">
		<br>
		<center>
		  There is insufficient data to graph, please check back later.
		</center>
	      </div>
	      <div class='row'>
		<div class='panel panel-default hidden'
		     id="loadavg-panel-div">
		  <div class="panel-heading">
		    <div class="maxavg-toggles pull-right">
		      <label class="radio-inline">
			<input type="radio" name="loadav-radio"
			       checked="checked" value="max"> Max
		      </label>
		      <label class="radio-inline">
			<input type="radio" name="loadav-radio"
			       value="avg"> Avg
		      </label>
		    </div>
		    <h5>Load Average Graph</h5>
		  </div>
		  <div class='panel-body panel-body-nopad'>
		    <!-- The col setting gives us a "relative" position div -->
		    <div class='col-xs-12 col-xs-offset-0'
			 style="padding:0px;">
		      <div id="loadavg-chart"
			   class='fixedsize-panel idlegraph-div
				  with-3d-shadow with-transitions'>
			<svg></svg>
		      </div>
		    </div>
		  </div>
		</div>
	      </div>
	      <div class='row'>
		<div class='panel panel-default hidden'
		     id="gpu-panel-div">
		  <div class="panel-heading">
		    <div class="maxavg-toggles pull-right">
		      <label class="radio-inline">
			<input type="radio" name="gpu-radio"
			       checked="checked" value="max"> Max
		      </label>
		      <label class="radio-inline">
			<input type="radio" name="gpu-radio"
			       value="avg"> Avg
		      </label>
		    </div>
		    <h5>GPU Usage Graph</h5>
		  </div>
		  <div class='panel-body panel-body-nopad'>
		    <!-- The col setting gives us a "relative" position div -->
		    <div class='col-xs-12 col-xs-offset-0'
			 style="padding:0px;">
		      <div id="gpu-chart"
			   class='fixedsize-panel idlegraph-div
				  with-3d-shadow with-transitions'>
			<svg></svg>
		      </div>
		    </div>
		  </div>
		</div>
	      </div>
	      <div class='row'>
		<div class='panel panel-default hidden'
		     id="ctrl-traffic-panel-div">
		  <div class="panel-heading">
		    <div class="maxavg-toggles pull-right">
		      <label class="radio-inline">
			<input type="radio" name="ctrl-radio"
			       checked="checked" value="max"> Max
		      </label>
		      <label class="radio-inline">
			<input type="radio" name="ctrl-radio"
			       value="avg"> Avg
		      </label>
		    </div>
		    <div class="txrx-toggles pull-right"
		         style="margin-right: 15px;">
		      <label class="radio-inline">
			<input type="radio" name="ctrl-radio-txrx"
			       value="rx"> RX
		      </label>
		      <label class="radio-inline">
			<input type="radio" name="ctrl-radio-txrx"
			       value="tx"> TX
		      </label>
		      <label class="radio-inline">
			<input type="radio" name="ctrl-radio-txrx"
			       checked="checked"
			       value="sum"> Sum
		      </label>
		    </div>
		    <h5>Control Traffic Graph</h5>
		  </div>
		  <div class='panel-body panel-body-nopad'>
		    <!-- The col setting gives us a "relative" position div -->
		    <div class='col-xs-12 col-xs-offset-0'
			 style="padding:0px;">
		      <div id="ctrl-traffic-chart"
			   class='fixedsize-panel idlegraph-div
				  with-3d-shadow with-transitions'>
			<svg></svg>
		      </div>
		    </div>
		  </div>
		</div>
	      </div>
	      <div class='row'>
		<div class='panel panel-default hidden'
		     id="expt-traffic-panel-div">
		  <div class="panel-heading">
		    <div class="maxavg-toggles pull-right">
		      <label class="radio-inline">
			<input type="radio" name="expt-radio"
			       checked="checked" value="max"> Max</label>
			<label class="radio-inline">
			  <input type="radio" name="expt-radio"
				 value="avg"> Avg</label>
		    </div>
		    <div class="txrx-toggles pull-right"
		         style="margin-right: 15px;">
		      <label class="radio-inline">
			<input type="radio" name="expt-radio-txrx"
			       value="rx"> RX
		      </label>
		      <label class="radio-inline">
			<input type="radio" name="expt-radio-txrx"
			       value="tx"> TX
		      </label>
		      <label class="radio-inline">
			<input type="radio" name="expt-radio-txrx"
			       checked="checked"
			       value="sum"> Sum
		      </label>
		    </div>
		    <h5>Experiment Traffic Graph</h5>
		  </div>
		  <div class='panel-body panel-body-nopad'>
		    <!-- The col setting gives us a "relative" position div -->
		    <div class='col-xs-12 col-xs-offset-0'
			 style="padding:0px;">
		      <div id="expt-traffic-chart"
			   class='fixedsize-panel idlegraph-div
				  with-3d-shadow with-transitions'>
			<svg></svg>
		      </div>
		    </div>
		  </div>
		</div>
	      </div>
	    </div>
	    <div class='tab-pane hidden' id='Openstack'>
	      <div class="hidden" id="nodata">
		<br>
		<center>
		  There is no Openstack data (yet), please check back later.
		</center>
	      </div>
	      <div id="openstack-div" class="hidden">
		<ul id='chart-tabs' class='nav nav-tabs'>
		  <li class="active">
		    <a href='#jsondata' data-toggle='tab'>Raw Data</a>
		  </li>
		  <li>
		    <a href='#activity' id="activity-tab"
		       data-toggle='tab'>Activity</a>
		  </li>
		</ul>
		<div id='chart-contents' class='tab-content'>
		  <div class='tab-pane active' id='jsondata'></div>
		  <div class='tab-pane' id='activity'>
		    <div class='smalldiv with-3d-shadow with-transitions'>
		      <svg></svg>
		    </div>
		  </div>
		  <div class='tab-pane hidden' id='template'>
		    <div class='panel panel-default cpu'>
		      <div class="panel-heading">
			<h5>CPU Utilization</h5>
		      </div>
		      <div class='panel-body panel-body-nopad'>
			<div class='smalldiv with-3d-shadow with-transitions'>
			  <svg></svg>
			</div>
		      </div>
		    </div>
		    <div class='panel panel-default netout'>
		      <div class="panel-heading">
			<h5>Outgoing Traffic</h5>
		      </div>
		      <div class='panel-body panel-body-nopad'>
			<div class='smalldiv with-3d-shadow with-transitions'>
			  <svg></svg>
			</div>
		      </div>
		    </div>
		    <div class='panel panel-default netin'>
		      <div class="panel-heading">
			<h5>Incoming Traffic</h5>
		      </div>
		      <div class='panel-body panel-body-nopad'>
			<div class='smalldiv with-3d-shadow with-transitions'>
			  <svg></svg>
			</div>
		      </div>
		    </div>
		  </div>
		</div>
	      </div>
	    </div>
	    <div class='tab-pane hidden' id='bindings'>
	      <table class='table table-striped table-hover table-condensed'
                     id='bindings_table'>
                <thead>
                  <tr>
                    <th>Parameter</th>
                    <th>Default</th>
                    <th>Actual</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
	      </table>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
<div class="row" id='error-help'>
  <div class='col-lg-8  col-lg-offset-2
	      col-md-8  col-md-offset-2
	      col-sm-10 col-sm-offset-1
	      col-xs-12 col-xs-offset-0'>
    <small>
    Not sure how to proceed or have further questions? Join the
    <a href='<%= errorURL %>'>users group</a> and ask a question. Be
    sure to include any error messages in your question <b>and the
    <a href="#" class="status-page-link">URL</a> of your experiment
    status page.</small></b>
  </div>
</div>
</div>
<div>
  <!-- place to hang the modals for now -->
  <div id='snapshot_modal' class='modal fade'>
    <div class='modal-dialog'>
      <div class='modal-content'>
	<div class='modal-header'>
          <h3 class="text-center" style="margin: 0;">
	    Create a Disk Image</h3>
	</div>
	<div class='modal-body'>
	  <div class="fhide step1" data-step="1">
	    <center>
	      You are about to create a disk image from the contents of
	      the primary partition on
	      <span class="one-node text-info hidden">
		<span class="node_id"></span>.
	      </span>
	      <span class="choose-node hidden">
		<select>
		  <option value=''>Please Select a Node</option>
		</select>
	      </span>
	      <div class="text-danger hidden
			  snapshot-error choose-node-error"></div>
	    </center>
	  </div>
	  <% var imageonly = 0;
	     if (window.APT_OPTIONS.isscript ||
	         (!window.APT_OPTIONS.canclone_profile &&
	          !window.APT_OPTIONS.canupdate_profile)) { imageonly = 1; } %>
	  <div class="fhide step2" data-step="2">
	    <% if (! imageonly) { %>
	    <div id="snapshot-radios"
		 style="text-align: center; margin-top: 10px;">
	      <div id="snapshot-radio-title">
		<b>What would you like to do with this image?</b>
		<br>
	      </div>
	      <div id="snapshot-help-popover-div"></div>
	      <div style="display: inline-block; text-align: left">
		<div class="radio" id="update-profile-radio">
		  <label>
		    <input type="radio" name="whattodo"
			   id="update-profile" value="update-profile" checked>
		    Update the current profile to use it.
		    <a href='#' class='btn btn-xs snapshot-help-button'>
		      <span class='glyphicon glyphicon-question-sign'
			    data-which="update-profile"
			    style='margin-bottom: 4px;'></span>
		    </a>
		  </label>
		</div>
		<div class="radio" id="copy-profile-radio">
		  <label>
		    <input type="radio" name="whattodo"
			   id="copy-profile" value="copy-profile">
		    Make a copy of the current profile, updated to use the new
		    image. 
		    <a href='#' class='btn btn-xs snapshot-help-button'>
		      <span class='glyphicon glyphicon-question-sign'
			    data-which="copy-profile"
			    style='margin-bottom: 4px;'></span>
		    </a>
		  </label>
		</div>
		<div class="radio" id="image-only-radio">
		  <label>
		    <input type="radio" name="whattodo"
			   id="image-only" value="image-only">
		    Just create a disk image, I will decide what to do with it
		    later.
		    <a href='#' class='btn btn-xs snapshot-help-button'>
		      <span class='glyphicon glyphicon-question-sign'
			    data-which="image-only"
			    style='margin-bottom: 4px;'></span>
		    </a>
		  </label>
		</div>
	      </div>
	    </div>
	    <% } %>
	    <div id='snapshot-name-div'
		 <% if (imageonly) { %>
		 style="margin-top: 10px;"
		 <% } %>
		 class='hidden'>
	      <center class="image-only hidden">
		<b>Please tell us what name to use for your new image</b>
		<% if (imageonly) { %>
		  <a href='#' class='btn btn-xs snapshot-help-button'>
		    <span class='glyphicon glyphicon-question-sign'
			  data-which="image-only"
			  style='margin-bottom: 4px;'></span>
		  </a>
		<% } %>
	      </center>
	      <center class="copy-profile hidden">
		<b>Please tell us what name to use for your new profile</b>
	      </center>
	      <center>
		<input placeholder="alphanumeric please" type="text">
	      </center>
	      <div class="text-danger hidden snapshot-error name-error"
		   style="text-align: center;">
	      </div>
	      <div class="text-danger hidden snapshot-error inuse-error"
		   style="text-align: center;">
	      </div>
	    </div>
	  </div>
	  <center id='snapshot-description-div'
		  style="margin-top: 10px;">
	    <b>Please briefly describe your image:</b>
	    <br>
	    <textarea style="width: 85%;"
		      placeholder="Optional, but very handy when looking at a list of all your images."
		      rows=2 type='textarea'></textarea>		
	    <div class="text-danger hidden
			snapshot-error description-error"
		 style="text-align: center;">
	  </center>
	  <div id="snapshot-options"
	       style="text-align: center; margin-top: 10px;">
	    <div style="display: inline-block; text-align: left">
	      <ul class="list-unstyled">	    
	      <li id='snapshot-wholedisk-div'
		  class="hidden">
		<input type=checkbox
		       id='snapshot-wholedisk' value=yes>
		<b>Create a whole disk image?</b>
		<a href='#' class='btn btn-xs'
		   data-toggle='popover'
		   data-html='true'
		   data-delay='{"hide":500}'
		   data-content="Check this box if you need to capture more
				 then just the primary partition of your disk.
				 For example, you created a file system on
				 parition two, and want to include that in
				 your new disk image. 
				 <b><em>Do not check this box if you do not
				 need to do this or 
				 do not know what this means!</em></b>">
		  <span class='glyphicon glyphicon-question-sign'
			style='margin-bottom: 4px;'></span>
		</a></li>
	      <li id='snapshot_update_prepare_option'>
		<input type=checkbox checked
		       id='snapshot_update_prepare' value=yes>
		<b>Did you add any accounts or groups to your node?</b>
		<a href='#' class='btn btn-xs'
		   data-toggle='popover'
		   data-html='true'
		   data-delay='{"hide":500}'
		   data-content="Check this box if you installed any software
				 that added new
				 users or groups. For example, if you installed
				 <tt>mysql</tt>, a new <tt>mysqld</tt> user was
				 added, and you want to make sure that this
				 user account is retained in the new image.
				 If you are not sure, please
				 <em><b>ask us first</b></em> since
				 checking this box needlessly can have
				 negative side effects.">
		  <span class='glyphicon glyphicon-question-sign'
			style='margin-bottom: 4px;'></span>
		</a>
	      </li>
	      </ul>
	    </div>
	  </div>
	  <p style="padding-top: 10px;">
	    <b>WARNING:</b>
	    <em>The contents of your home directory is <b>NOT</b> saved</em>.
	    You  should install your software and data files in standard
	    locations like <tt>/usr/local</tt> or <tt>/opt</tt>. The reason
	    for this is so that dependencies on specific user home directories
	    do not become embedded in your images.
	  </p>
	  <div class="text-danger hidden snapshot-error general-error"
	       style="white-space: pre-wrap;
		      padding: 0px 50px 0px 50px;"></div>
	</div>
	<div class="pull-right" style="margin-bottom: 10px;">
          <button style='margin-right: 10px;'
                  class='btn btn-danger btn-sm' 
                  data-dismiss='modal' aria-hidden='true'>
	    Cancel</button>
          <button class='btn btn-success btn-sm'; type='button'
		  style='margin-right: 15px;'
		  id='snapshot_confirm'>
	    Continue</button>
	</div>
	<br>
	<div class="modal-footer-steps hidden">
	  <button type="button" class="btn btn-default js-btn-step pull-left"
		  data-orientation="cancel" data-dismiss="modal"></button>
	  <button type="button" class="btn btn-warning js-btn-step"
		  data-orientation="previous"></button>
	  <button type="button" class="btn btn-success js-btn-step"
		  data-orientation="next"></button>
	</div>
      </div>
    </div>
  </div>
  <div id='snapshot_modal_old' class='modal fade'>
    <div class='modal-dialog'>
      <div class='modal-content'>
	<div class='modal-header'>
          <center><h3>Confirm to Snapshot</h3>
	</div>
	<div class='modal-body'>
	  <div id='snapshot_update_profile_div' class='hidden'>
	    <center>
	      <b>Update Profile?</b>
	      <br>
	      <input type=checkbox
		     id='snapshot_update_profile' checked value=yes>
	    </center>
	    Check this box if you want us to update your profile to use the
	    new disk image. All nodes running the same image will be
	    updated. If you uncheck the box, you will need to modify the
	    profile source code yourself (you will receive email with the
	    name/url of the new image).
	    <br>
	    <br>
	  </div>
	  <div id='snapshot_update_script_div' class='hidden'>
	    <center>
	      <b>Please Note!</b>
	    </center>
	    Since your profile is a <em>geni-lib python</em> script, you
	    will need to update the images inside the script yourself, we
	    cannot do this for you.
	    At the end of the snapshot, we will tell you the new image name
	    so you can edit your script. 
	    <br>
	    <br>
	  </div>
	  <div id='snapshot_update_prepare_div'>
	    <center>
	      <b>Did you add any accounts or groups to your image?</b>
	      <br>
	      <input type=checkbox
		     id='snapshot_update_prepare' value=yes>
	    </center>
	    Check this box if you installed any software that added new
	    users or groups. If you are not sure, ask us first since
	    checking this box needlessly can have negative side effects. 
	    <br>
	  </div>
	  <div id='snapshot-wholedisk-div' class='hidden'>
	    <br>
	    <center>
	      Whole disk image?<br>
	      <input type=checkbox id='snapshot-wholedisk' value=yes>
	    </center>
	    Check this box if you need to capture the entire disk; you only
	    need to do this if you put data into one of the unused
	    partitions on the local disk. <b><em>Do not check this box if you
	      do not know what this means!</em></b>
	  </div>
	  <div id='nameyourimage_div' class='hidden'>
	    <br>
	    <center>
	      <b>Name your image?</b><br>
	      <input id="nameyourimage_name"
		     placeholder="alphanumeric only" type="text">
	    </center>
	    Do you want to choose the name of your image yourself? We
	    do not recommend it, but you can if you want. Alphanumeric
	    only please.
	  </div>
	  <br>
	  <center>
            <button style='margin-right: 20px;'
                    class='btn btn-primary btn-sm' 
                    data-dismiss='modal' aria-hidden='true'>
	      Cancel</button>
            <button class='btn btn-danger btn-sm'; type='button'
		    id='snapshot_confirm'>
	      Confirm</button>
	  </center>
	</div>
      </div>
    </div>
  </div>
  <div id='deletenode_modal' class='modal fade'>
    <div class='modal-dialog'>
      <div class='modal-content'>
	<div class='modal-header'>
          <center><h3>Confirm to Delete Nodes</h3>
	</div>
	<div class='modal-body'>
          <p>
	    Are you <b>sure</b> you want to delete nodes from your
            experiment?  This operation cannot be stopped once it is
            started!

	  </p>
	  <center>
            <button style='margin-right: 20px;'
                    class='btn btn-primary btn-sm' 
                    data-dismiss='modal' aria-hidden='true'>
	      Cancel</button>
            <button class='btn btn-danger btn-sm'; type='button'
		    id='deletenode_confirm'>
	      Confirm</button>
	  </center>
	</div>
      </div>
    </div>
  </div>
  <div id='deletesite_modal' class='modal fade'>
    <div class='modal-dialog'>
      <div class='modal-content'>
	<div class='modal-header'>
          <center><h3>Confirm to Delete Site</h3>
	</div>
	<div class='modal-body'>
          <p>
	    Are you <b>sure</b> you want to delete all the nodes from
	    this site, from your experiment?  This operation cannot be
	    stopped once it is started!
	  </p>
	  <center>
            <button style='margin-right: 20px;'
                    class='btn btn-primary btn-sm' 
                    data-dismiss='modal' aria-hidden='true'>
	      Cancel</button>
            <button class='btn btn-danger btn-sm'; type='button'
		    id='deletesite_confirm'>
	      Confirm</button>
	  </center>
	</div>
      </div>
    </div>
  </div>
  <div id="context-menu">
    <ul class="dropdown-menu" role="menu"
	style='cursor: pointer; cursor: hand'>
      <li id="shell"><a name="shell">Shell</a></li>
      <li id="console"><a name="console">Console</a></li>
      <li id="consolelog"><a name="consolelog">Console Log</a></li>
      <li id="reboot">
	<a name="reboot"
	   data-toggle='tooltip'
	   title='Reboot node, click to confirm'
	   data-trigger="hover">Reboot</a></li>
      <li id="reload">
	<a name="reload"
	   data-toggle='tooltip'
	   title='Reload node, click to confirm'
	   data-trigger="hover">Reload</a></li>
      <li id="recovery">
	<a name="recovery"
	   data-toggle='tooltip'
	   title='Boot node into (or out of) recovery mode, click for more info'
	   data-trigger="hover">Recovery</a></li>
      <li id="monitor" class="hidden">
	<a name="monitor"
	   data-toggle='tooltip'
	   title='Radio monitoring graph'
	   data-trigger="hover">Monitor Graph</a></li>
      <li id="nodetop" class="hidden">
	<a name="nodetop"
	   data-toggle='tooltip'
	   title='Top Processes'
	   data-trigger="hover">Top Processes</a></li>
      <li id="powercycle" class="hidden">
	<a name="powercycle"
	   data-toggle='tooltip'
	   title='Power cycle node, click to confirm'
	   data-trigger="hover">Power Cycle</a></li>
      <li id="flash" class="hidden">
	<a name="flash"
	   data-toggle='tooltip'
	   title='Reflash via JTAG; only as a last resort!'
	   data-trigger="hover">Flash Recovery</a></li>
      <li id="vnc" class="vnc hidden">
	<a name="vnc"
	   data-trigger="hover">Open VNC window</a></li>
      <li id="delete">
	<a name="delete"
	   data-toggle='tooltip'
	   title='Delete node from experiment, click for more info'
	   data-trigger="hover">Delete Node</a></li>
    </ul>
  </div>
  <div id="site-context-menu">
    <ul class="dropdown-menu" role="menu"
	style='cursor: pointer; cursor: hand'>
      <li>
	<a name="delete"
	   data-toggle='tooltip'
	   title='Delete site from experiment, click for more info'
	   data-trigger="hover">Delete Site</a></li>
    </ul>
  </div>
  <div id="context"></div>
  <div id="context-menus"></div>
  <div id='console_password_modal' class='modal fade'>
    <div class='modal-dialog'>
      <div class='modal-content'>
	<div class='modal-header'>
          <button type='button' class='close' data-dismiss='modal'
                  aria-hidden='true'>&times;</button>
          <center><h4>Console Password for
	    <span id='console_password_clientid'></span></h4></center>
	</div>
	<div class='modal-body'>
	  <form class="form-horizontal">
	    <div class="row">
	      <div class="col-sm-4 col-sm-offset-4">
		<div class="form-group">
		  <input onClick="this.select();"
			 id='console_password_input'
			 class='form-control'
			 readonly
			 value='#'>
		</div>
	      </div>
	    </div>
	  </form>
	</div>
      </div>
    </div>
  </div>
  <div id='confirm_reload_modal' class='modal fade'>
    <div class='modal-dialog'>
      <div class='modal-content'>
	<div class='modal-body'>
          <center><h3>Confirm Node <span id="confirm-which"></span></h3>
            <button type='button' style='margin-right: 20px;'
                    class='btn btn-primary btn-sm' 
                    data-dismiss='modal' aria-hidden='true'>
	      Cancel</button>
            <button class='btn btn-danger btn-sm'
		    id='confirm_reload_button'>
	      Confirm</button>
	  </center>
	</div>
      </div>
    </div>
  </div>
  <div id='confirm_recovery_modal' class='modal fade'>
    <div class='modal-dialog'>
      <div class='modal-content'>
	<div class='modal-body'>
	  <div class="recovery-on hidden">
	    <center>
	      <h3>Boot node <b>into</b> <em>recovery</em> mode?</h3>
	    </center>
	    When you boot a node into recovery mode, your node is
	    rebooted into a Linux memory based file system that allows
	    you to mount and correct configuration errors on your
	    disk. For example, you changed a configuration file in
	    /etc, and now your node will not boot. Use recovery mode
	    to revert the change. Then turn recovery mode off, which will
	    reboot your node again, from the disk.
	  </div>
	  <div class="recovery-off hidden">
	    <center>
	      <h3>Boot node out of <em>recovery</em> mode?</h3>
	    </center>
	  </div>
	  <center style="margin-top: 10px;">
            <button type='button' style='margin-right: 20px;'
                    class='btn btn-primary btn-sm' 
                    data-dismiss='modal' aria-hidden='true'>
	      Cancel</button>
            <button class='btn btn-danger btn-sm'
		    id='confirm_recovery_button'>
	      Confirm</button>
	  </center>
	</div>
      </div>
    </div>
  </div>
  <div id='confirm_flash_modal' class='modal fade'>
    <div class='modal-dialog'>
      <div class='modal-content'>
	<div class='modal-body'>
	  <center>
	    <h3>Flash a recovery FPGA image onto radio</h3>
	  </center>
	  When you flash a new FPGA image onto a radio, it will replace
	  the current FPGA image.
	  <b><em>This is a last resort approach</em></b>,
          typically you
	  would use <em>uhd_image_loader</em> to replace the currently
	  running FGPA image.
	  <center style="margin-top: 10px;">
            <button type='button' style='margin-right: 20px;'
                    class='btn btn-primary btn-sm' 
                    data-dismiss='modal' aria-hidden='true'>
	      Cancel</button>
            <button class='btn btn-danger btn-sm'
		    id='confirm_flash_button'>
	      Confirm</button>
	  </center>
	</div>
      </div>
    </div>
  </div>
  <div id='flash_done_modal' class='modal fade'>
    <div class='modal-dialog'>
      <div class='modal-content'>
	<div class='modal-body'>
	  <center>
	    <h4>Flash operation has completed</h4>
	  </center>
	  Your radio has been flashed, <em>now you must do a proper image
	    load onto it, and then a power cycle.</em> To load a new image,
	  use uhd_image_loader. For example, an <tt>x310</tt> is loaded with:
	  <center>
	    <pre style="width: 80%; margin-top: 10px;">uhd_image_loader --args "type=x300,addr=192.168.40.2,fpga=XG</pre>
	  </center>
	  When <tt>uhd_image_loader</tt> finishes, power cycle the radio
	  using the context menu option.
	  <center style="margin-top: 15px;">
            <button type='button'
                    class='btn btn-primary btn-sm' 
                    data-dismiss='modal' aria-hidden='true'>
	      Dismiss</button>
	  </center>
	</div>
      </div>
    </div>
  </div>
  <!-- This is the extend history modal for foreign admins -->
  <div id='extend_history_modal' class='modal fade'>
    <div class='modal-dialog'>
      <div class='modal-content'>
	<div class='modal-header'>
          <button type='button' class='close' data-dismiss='modal'
                  aria-hidden='true'>&times;</button>
	  <h5>Extension History</h5>
	</div>
	<div class='modal-body scrollable-panel'>
	  <table class="table table-condensed">
	    <thead>
	      <tr>
		<th>Date</th>
		<th>Action</th>
		<th>Wanted</th>
		<th>Granted</th>
	      </tr>
	    </thead>
	    <tbody>
	      <%  _.each(extensions, function(extension, idx) { %>
		<tr>
		  <td rowspan="2" class="history-tstamp">
		    <%- extension.tstamp %></td>
		  <td>
		    <% if (extension.action == "request" && extension.admin == "1") { %>
		      admin<% } else { %><%- extension.action %><% } %>
		  </td>
		  <% if (extension.action == "request") { %>
		    <td><%- extension.wantedstring %></td>
		    <td><%- extension.grantedstring %></td>
		  <% } else { %>
		    <td>n/a</td>
		    <td>n/a</td>
 	          <% } %>
		</tr>
		<tr>
		  <td colspan="3">
		    <pre class="history-reason"><%- extension.reason %></pre>
		  </td>
		</tr>
  	      <% }); %>
	    </tbody>
	  </table>
	</div>
      </div>
    </div>
  </div>
  <div id='extension-denied-modal' class='modal fade'>
    <div class='modal-dialog'>
      <div class='modal-content'>
	<div class='modal-header'>
          <center><h3>Your recent extension request was denied!</h3></center>
	</div>
	<div class='modal-body'>
	  <div class="well" id="extension-denied-modal-reason"></div>
	  <p>
	    We sent you an email notification, but just in case you
	    did not receive it, we are letting you know again. 
	    Clicking Dismiss will hide this message. You may also request
	    another extension if you have more information to add, or to plead
	    your case. 
	  </p>
	  <div>
	    <center>
              <button class='btn btn-primary btn-sm'
		      id='extension-denied-modal-dismiss'>
		Dismiss</button>
	    </center>
	  </div>
	</div>
      </div>
    </div>
  </div>
  <div id='confirm-update-systemimage-modal' class='modal fade'
       data-keyboard='false' data-backdrop='static'>
    <div class='modal-dialog'>
      <div class='modal-content'>
	<div class='modal-body'>
          <button type='button' class='close' data-dismiss='modal'
                  aria-hidden='true'>&times;</button>
          <center>
	    <h4>You are about to create or update a System Image!</h4>
	  </center>
	  <p>
	    Taking this disk snapshot might result in creating a new
	    system image or updating an existing system image. Are you
	    sure you want to do this?
	  </p>
	  <p>
	    <em>Reminder:</em> You will need to run <tt>imagerelease</tt> on 
	    the cluster (command line).
	  </p>
	  <center>
            <button type='button' style='margin-right: 20px;'
                    class='btn btn-primary btn-sm'
		    id='cancel-update-systemimage'>Cancel</button>
            <button class='btn btn-danger btn-sm'
		    id='confirm-update-systemimage'>Continue</button>
	  </center>
	</div>
      </div>
    </div>
  </div>
  <div id='ssh-failed-modal' class='modal fade'>
    <div class='modal-dialog'>
      <div class='modal-content'>
	<div class='modal-header'>
          <center><h4>SSH Failure!</h3></center>
	</div>
	<div class='modal-body'>
	  There was an error trying to set up your SSH shell.
	  Typically this is because the local server is using a self
	  signed certificate and your browser is unhappy about it. The
	  easiest thing to do is click on the link below, accept the
	  certificate (however your browser does that), and then try
	  again. 
	  <br>
	  <div>
	    <center>
	      Click to 
	      <a href="" target="_blank" id="accept-certificate">
		accept certificate</a>
	    </center>
	  </div>
	  <br>
	  <div>
	    <center>
              <button class='btn btn-primary btn-sm'
		      data-dismiss='modal'>
		Dismiss</button>
	    </center>
	  </div>
	</div>
      </div>
    </div>
  </div>
  <div class="hidden" id="clone-help-div">
    <!-- This is the Clone help box -->
    <div id="clone-help-panel" class="panel panel-info">
      <div class="panel-body">
	<button type='button' class='close clone-popover-close'>
          &times;</button>
	<br>
	<p>
	  You can quickly convert a running experiment into
	  a <em>new</em> profile, capturing the disk contents of your
	  node and saving it away for later use by experiments based on
	  the new profile. The new profile is a copy of the current profile,
	  but with the node you selected to image, updated to boot the
	  new image.
	</p>
	<p>
	  The node in your experiment will be shutdown, and a disk image
	  of the <b>primary</b> partition captured. You will be able to
	  track the progress of the image capture as it proceeds. 
	</p>
	<p>
	  <em>The contents of your home directory is <b>NOT</b> saved</em>. You
	  should install your software and data files in standard locations like
	  <tt>/usr/local</tt> or <tt>/opt</tt>. The reason for this is so
	  that dependencies on specific user home directories do not
	  become embedded in your images.
	</p>
      </div>
    </div>
  </div>
  <div class="hidden" id="snapshot-help-div">
    <div class="panel panel-info">
      <div class="panel-body">
	<button type='button' class='close snapshot-popover-close'>
          &times;</button>
	<br>
	<p>
	  Create a disk image, saving it away for future experiments
	  based on the same profile. This is a complete disk copy of the
	  <b>primary</b> partition on your node, everything is saved.
	  The next user to instantiate this profile will use this new
	  disk image.
	</p>
	<p>
	  After you click to confirm, the node in your experiment will
	  be shutdown, and a disk image captured. You will be able to
	  track the progress of the image capture as it proceeds.
	</p>
	<p>
	  When the imaging process is complete, we will update your
	  profile, changing the node you are imaging, to boot the new
	  image next time you start an experiment.
	</p>
	<p>
	  <em>The contents of your home directory is <b>NOT</b> saved</em>. You
	  should install your software and data files in standard locations like
	  <tt>/usr/local</tt> or <tt>/opt</tt>. The reason for this is so
	  that dependencies on specific user home directories do not
	  become embedded in your images.
	</p>
      </div>
    </div>
  </div>    
  <div class="hidden" id="imageonly-help-div">
    <div class="panel panel-info">
      <div class="panel-body">
	<button type='button' class='close'>
          &times;</button>
	<br>
	<p>
	  Create a disk image from the node selected, you can decide
	  later what profile(s) to use it in. This is a complete disk
	  copy of the <b>primary</b> partition on your node, everything
	  is saved. When the imaging process is complete we will tell
	  you the <em>URN</em> of your new image, to use in your profiles.
	</p>
	<p>
	  After you click to confirm, the node in your experiment will
	  be shutdown, and a disk image captured. You will be able to
	  track the progress of the image capture as it proceeds.
	</p>
	<p>
	  <em>The contents of your home directory is <b>NOT</b> saved</em>. You
	  should install your software and data files in standard locations like
	  <tt>/usr/local</tt> or <tt>/opt</tt>. The reason for this is so
	  that dependencies on specific user home directories do not
	  become embedded in your images.
	</p>
      </div>
    </div>
  </div>    
  <div id='lockdown-refused' class='modal fade'>
    <div class='modal-dialog'>
      <div class='modal-content'>
	<div class="modal-header text-center">
	  <h4>Lockdown Refused</h4>
	</div>
	<div class='modal-body'>
	  <p>
	    The lockdown request has been refused by one of the backend
	    clusters because it would throw the reservation system into chaos:
	  </p>
	  <div>
	    <pre></pre>
	  </div>
	  If you want to force this lockdown, click below.
	  <center>
            <button type='button' style='margin-right: 20px;'
		    data-dismiss='modal'
                    class='btn btn-primary btn-sm'
		    id='cancel-lockdown'>Cancel</button>
            <button class='btn btn-danger btn-sm'
		    id='force-lockdown'>Lockdown</button>
	  </center>
	</div>
      </div>
    </div>
  </div>
  <!-- This is the no extensions allowed modal -->
  <div id='no-extensions-modal' class='modal fade'>
    <div class='modal-dialog'>
      <div class='modal-content'>
	<div class='modal-header'>
          <button type='button' class="close"
                  data-dismiss='modal' aria-hidden='true'>&times;</button>
          <center><h4>Oops, no extensions are permitted!</h4></center>
	</div>
	<div class='modal-body'>
	  <p>
	    Extension requests for this experiment have been disabled
	    by an administrator.
	  </p>
	  <div id="extensions-disabled-reason" class="hidden">
	    <p>
	      The reason is: <span class="reason"></span>
	    </p>
	  </div>
	  <p>
	    Please contact the
	    <a href="mailto:<%- window.SUPPORT %>?subject=Experiment%20<%- expinfo.project %>/<%- expinfo.name %>"
	       target="_blank">
	      support staff</a> for more information.
	  </p>
	</div>
      </div>
    </div>
  </div>
  <!-- This is the no extension was granted modal -->
  <div id='no-extension-granted-modal' class='modal fade'>
    <div class='modal-dialog'>
      <div class='modal-content'>
	<div class='modal-header'>
          <button type='button' class="close"
                  data-dismiss='modal' aria-hidden='true'>&times;</button>
          <center><h4>Oops, no extension was granted!</h4></center>
	</div>
	<div class='modal-body'>
	  <p>
	    No extension was granted for your experiment!
	  </p>
	  <div class="reason-div hidden">
	    <p>
	      The reason is: <span class="reason"></span>
	    </p>
	  </div>
	  <p>
	    Please contact the
	    <a href="mailto:<%- window.SUPPORT %>?subject=Experiment%20<%- expinfo.project %>/<%- expinfo.name %>"
	       target="_blank">
	      support staff</a> for more information.
	  </p>
	</div>
      </div>
    </div>
  </div>
  <!-- Explain quarantine mode -->
  <div id='explain-quarantine-modal' class='modal fade'>
    <div class='modal-dialog'>
      <div class='modal-content'>
	<div class='modal-body'>
          <button type='button' class="close"
                  data-dismiss='modal' aria-hidden='true'>&times;</button>
	  <p>
	  Your experiment has been quarantined by an administrator.
	  Typically, this action would be taken because your experiment was
	  doing something that is prohibited. Your nodes have either
	  been powered off, or they were rebooted into a safe mode so
	  that you can log in and investigate. For more info, please contact
	  <%= window.APTMAILTO %>.
	  </p>
	</div>
      </div>
    </div>
  </div>
  <!-- Confirm disable Quarantine -->
  <div id='disable-quarantine-modal' class='modal fade'>
    <div class='modal-dialog'>
      <div class='modal-content'>
	<div class='modal-body'>
          <button type='button' class='close' data-dismiss='modal'
                  aria-hidden='true'>&times;</button>
	  <center>
	    <h3>Confirm to release from Quarantine</h3>
	    <div style="margin-top: 10px;">
              <button style='margin-right: 10px;'
                      class='btn btn-primary btn-sm' 
                      data-dismiss='modal' aria-hidden='true'>Cancel</button>
              <button class='btn btn-danger btn-sm'
		      id='confirm-disable-quarantine'>Confirm</button>
	    </div>
	  </center>
	</div>
      </div>
    </div>
  </div>
  <!-- Prestaging info -->
  <div id='prestage-info-modal' class='modal fade'>
    <div class='modal-dialog'>
      <div class='modal-content'>
	<div class='modal-header'>
          <button type='button' class='close' data-dismiss='modal'
                  aria-hidden='true'>&times;</button>
	  <center>
	    <h4>Prestaging Images Used By Your Profile</h4>
	  </center>
	</div>
	<div class='modal-body' style="font-size: larger;">
	  <div>
	    Some of the images used by your profile need to be
	    transferred to your resources before we can start your experiment.
	    This can take a while, <b>please be patient!</b> When all images
	    have been transferred, your experiment will continue provisioning.
	  </div>
	</div>
      </div>
    </div>
  </div>
  <!-- Ignore failures modal-->
  <div id='ignore-failure-modal' class='modal fade'>
    <div class='modal-dialog'>
      <div class='modal-content'>
	<div class='modal-header'>
          <button type='button' class="close"
                  data-dismiss='modal' aria-hidden='true'>&times;</button>
          <center><h4>Ignore this failure?</h4></center>
	</div>
	<div class='modal-body'>
	  <p>
	    A failed experiment is typically reaped by the system
	    within a short amount of time, to release the resources so
	    they are available for other users and experiments. If you
	    want to ignore this failure and keep your experiment,
	    click on the ignore button below and your experiment will
	    be moved from the <em>failed</em> state to the <em>ready</em>
	    state.
	  </p>
	  <p>
	    There are many reasons for a failed experiment, some of
	    which can be repaired or even ignored. For example, if
	    some of your nodes fail to boot you can often log in on
	    the console and fix the problem and then reboot. Another
	    example is if your experiment can tolerate a few failed
	    nodes and you want to continue your experiment.
	  </p>
	  <p>
	    Other errors cannot be easily fixed, for example failed
   	    hardware or a bad cable that causes your network to fail.
   	    You cannot ignore those failures of course since your
	    experiment cannot be productively used.
	  </p>
	  <center>
            <button type='button' style='margin-right: 20px;'
		    data-dismiss='modal'
                    class='btn btn-primary btn-sm'>
	      Cancel</button>
            <button class='btn btn-danger btn-sm'
		    id='ignore-failure-confirm'>
	      Ignore Failure</button>
	  </center>
	</div>
      </div>
    </div>
  </div>
  <div id='top-processes-modal' class='modal fade'>
    <div class='modal-dialog'>
      <div class='modal-content'>
	<div class='modal-body'>
          <button type='button' class="close"
                  data-dismiss='modal' aria-hidden='true'>&times;</button>
	  <pre>
	  </pre>
	</div>
      </div>
    </div>
  </div>
  <div id='rerun_modal' class='modal fade'>
    <div class='modal-dialog'>
      <div class='modal-content'>
	<div class='modal-header'>
          <button type='button'
		  class='close' data-dismiss='modal'
                  aria-hidden='true'>&times;</button>
	  <h4 class='modal-title text-center'>Run this experiment again</h4>
	</div>
	<div class='modal-body'>
	  <p>
	    You can use this link, or share it with another user, to run this profile
	    using the same parameters. 
	  </p>
          <center>
	    <div style="margin-top: 5px;">
	      <div class="copy-to-clipboard form-inline">
		<input readonly
		       style="width: 90%"
		       class="form-control"
		       value='<%- window.location.origin %>/instantiate.php?profile=<%- expinfo.profile_uuid %>&rerun_instance=<%= uuid %>'>
		<a href='#' class='btn'>
		  <span class='glyphicon glyphicon-copy'
			style='margin-bottom: 4px;'></span>
		</a>
	      </div>
	    </div>
	  </center>
	</div>
      </div>
    </div>
  </div>
  <div id='connect-sharedlan-modal' class='modal fade'>
    <div class='modal-dialog'>
      <div class='modal-content'>
	<div class='modal-header'>
          <h3 class="text-center" style="margin: 0;">
	    Connect To Shared Lan</h3>
	</div>
	<div class='modal-body'>
	  <p>
	    To connect (or disconnect) a shared lan in your experiment
	    to/from a shared lan
	    in another experiment, you need to know the UUID of the target
	    experiment and the name of the shared lan in the target
	    experiment. Note that the <em>target lan name</em> is the
	    argument provided
	    to <code>lan.createSharedVlan("somename")</code> in the profile
	    that <b>created</b> the shared lan (in the target experiment).
	  </p>
	  <form>
	    <center>
	      <div class="form-group">
		<label class="radio-inline">
		  <input type="radio" name="sharedlanradio"
			 value="connect"> Connect
		</label>
		<label class="radio-inline">
		  <input type="radio" name="sharedlanradio"
			 value="disconnect"> Disconnect
		</label>
	      </div>
	      <div class="form-group">
		<input placeholder="Source Lan Name"
		       style="width: 300px;"
		       class="source-lan" type="text">
	      </div>
	      <div class="form-group">
		<input placeholder="Target Experiment UUID"
		       style="width: 300px;"
		       class="target-uuid hidden" type="text">
	      </div>
	      <div class="form-group">
		<input placeholder="Target Shared Lan Name"
		       style="width: 300px;"
		       class="target-lan hidden" type="text">
	      </div>
	    </center>
	  </form>
	  <center>
            <button style='margin-right: 10px;'
                    class='btn btn-danger btn-sm' 
                    data-dismiss='modal' aria-hidden='true'>
	      Cancel</button>
            <button class='btn btn-success btn-sm'; type='button' disabled
		    id='connect-sharedlan-confirm'>
	      Continue</button>
	  </center>
	</div>
      </div>
    </div>
  </div>
  <div id='success-modal' class='modal fade'>
    <div class='modal-dialog'>
      <div class='modal-content'>
	<div class='modal-body'>
          <button type='button' class='close' data-dismiss='modal'
                  aria-hidden='true'>&times;</button>
          <center><h3>Operation Successful</h3>
	    <br>
            <button class='btn btn-success btn-sm'
		    data-dismiss='modal'>Close</button></center>
	</div>
      </div>
    </div>
  </div>
  <div class="hidden">
    <table>
    <tr id='listview-row'>
      <td name='client_id'>n/a</td>
      <td name='node_id'>n/a</td>
      <td name='type'>n/a</td>
      <% if (window.ISPOWDER || window.ISCLOUD) { %>
	<td name='cluster'>n/a</td>
      <% } %>
      <td name='status'>n/a</td>
      <td name='startup'>n/a</td>
      <td name='image'>n/a</td>
      <td name='sshurl'>n/a</td>
      <td align=left><input name='select' type=checkbox></td>
      <td name='menu' align=center> 
	<div name='action-menu' class='dropdown'>
	  <button id='action-menu-button' type='button' 
		  class='btn btn-primary btn-xs dropdown-toggle' 
		  data-toggle='dropdown'> 
            <span class='glyphicon glyphicon-cog'></span> 
	  </button> 
	  <ul class='dropdown-menu dropdown-menu-right text-left' role='menu'> 
            <li><a href='#' name='shell'>Shell</a></li> 
            <li><a href='#' name='console'>Console</a></li> 
            <li><a href='#' name='consolelog'>Console Log</a></li> 
            <li><a href='#' name='recovery'>Recovery</a></li> 
            <li class='hidden'> 
              <a href='#' name='monitor'>Monitor Graph</a></li> 
            <li class='hidden'> 
              <a href='#' name='nodetop'>Top Processes</a></li> 
            <li class='hidden'> 
              <a href='#' name='powercycle'>Power Cycle</a></li> 
            <li class='hidden'> 
              <a href='#' name='vnc'>Open VNC window</a></li> 
            <li class='hidden'> 
              <a href='#' name='flash'>Flash Recovery</a></li> 
            <li><a href='#' name='delete'>Delete Node</a></li> 
	  </ul>
	</div>
      </td>
    </tr>
    </table>
  </div>
  <div id='ppwizard-body'
       class='col-lg-8  col-lg-offset-2
	      col-md-8  col-md-offset-2
	      col-sm-10  col-sm-offset-1
	      col-xs-12 col-xs-offset-0 hidden'>
    <div id="ppwizard-form"></div>
    <center>
      <button type='button' class='btn btn-default btn-sm ppwizard-cancel'
	      style="margin-right: 10px;">
	Cancel</button>
      <button id='ppwizard-accept' type='button' disabled
	      class='btn btn-primary btn-sm'>
	Continue
      </button>
    </center>
    <style>
     .container {
	 margin-top: 0px !important;
     }
     .jacks {
	 background-color: #FFF;
     }
    </style>
    <div class="topo-compare row" style="margin-top: 15px;">
      <div class='col-xs-6'>
	<div class='panel panel-default'>
	  <div class='panel-heading text-center'>Topology Before</div>
	  <div class='panel-body' style="padding: 0px;">
	    <div class="topo-before jacks"
		 style="height: 350px; position: relative;"></div>
	  </div>
	</div>
      </div>
      <div class='col-xs-6'>
	<div class='panel panel-default'>
	  <div class='panel-heading text-center'>Topology After</div>
	  <div class='panel-body' style="padding: 0px;">
	    <div class="topo-after jacks"
		 style="height: 350px; position: relative;">
	    </div>
	  </div>
	</div>
      </div>
    </div>
    <div id='cluster_selector' class='hidden'></div>
    <div id="reservation-warnings"
	 class="col-sm-offset-2 col-sm-10 hidden"></div>
    <div class="row" style="margin-top: 0px; margin-bottom: 10px;">
      <div class='col-xs-12'>
	<center>
	  <div id="ppwizard-finish-message" class="hidden"
	       style="margin-bottom: 5px;">
	    <p style="margin-bottom: 5px;">
	      Click <b>Finish</b> if you are sure you want to apply
	      these changes to your experiment. View the
	      <a href="" class="show-newrspec"
		 data-target='#ppwizard-rspec-modal'
		 data-toggle='modal'>new rspec</a>.
	    </p>
	    <p>
	      Once we begin experiment
	      modification, it cannot be stopped until it finishes.
	    </p>
	  </div>
	  <button type='button' class='btn btn-default btn-sm ppwizard-cancel'
		  style="margin-right: 10px;">
	    Cancel</button>
	  <button id='ppwizard-finish' type='button' disabled
		  class='btn btn-primary btn-sm'>
	    Finish
	  </button>
	</center>
      </div>
    </div>
  </div>
  <div id='ppwizard-continue' class='modal fade'>
    <div class='modal-dialog'>
      <div class='modal-content'>
	<div class='modal-body'>
	  Click <b>Continue</b> if you are sure you want to apply
	  these changes to your experiment. Once we begin experiment
	  modification, it cannot be stopped until it finishes (or fails).
	  <center>
	    <button type='button' class='btn btn-default btn-sm ppwizard-cancel'
		    style="margin-right: 10px;">
	      Cancel</button>
	    <button id='ppwizard-modify' type='button'
		    class='btn btn-primary btn-sm'>
	      Continue
	    </button>
	  </center>
	</div>
      </div>
    </div>
  </div>
  <div id='ppwizard-rspec-modal' class='modal fade'>
    <div class='modal-dialog'>
      <div class='modal-content'>
	<div class='modal-body''>
          <button type='button' class='close' data-dismiss='modal'
                  aria-hidden='true'>&times;</button>
	  <textarea rows=30 readonly class="form-control"
                    type='textarea'></textarea>
	</div>
      </div>
    </div>
  </div>
  <div id='nospectrum-warning' class='modal fade'>
    <div class='modal-dialog'>
      <div class='modal-content'>
	<div class='modal-body'>
	  <div style="font-size: 18px;">
	    <p>
	      <b>Warning:</b> You have not specified any frequency
	      request(s) for this experiment. Any transmissions will
	      result in a quarantined experiment and frozen account.
	    </p>
	    <center>
	      <button type='button' class='btn btn-default btn-sm'
		      data-dismiss='modal'>
		Dismiss</button>
	    </center>
	  </div>
	</div>
      </div>
    </div>
  </div>
  <div id='waitwait_div'></div>
  <div id='terminate_div'></div>
  <div id='oops_div'></div>
  <div id='register_div'></div>
  <div id='extend_div'></div>
  <div id='imaging_div'></div>
  <div id='oneonly_div'></div>
  <div id='approval_div'></div>
  <div id='linktest_div'></div>
  <div id='destroy_div'></div>
  <div id='save_paramset_div'></div>
</div>




